<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="top" class="off-canvas-wrapper" data-magellan-target="top">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left offCanvasLeft ps--inverse" id="offCanvasLeft" data-off-canvas data-position="left">
          {% include header.html %}
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          {% include mobilehead.html %}
          <div role="document" class="document">
            <main class="main">
              {{ content }}
            </main>
          </div>
          {% include footer.html %}
        </div>
        <div class="off-canvas position-right offCanvasRight ps--inverse" id="offCanvasRight" data-off-canvas data-position="right">
          {% include testdrive.html %}
        </div>
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>
