---
layout: default
title: Suzuki Motors - Magyar Suzuki Zrt.
---

<section class="heroes home__heroes" data-magellan>
  <div class="owl-carousel hero__carousel">
    <div class="item">
      <div class="hero hero--01">
        <style>
          .hero--01 { background-image: url('img/herohome6.jpg');}
          @media screen and (min-width: 48em) {.hero--01 { background-image: url('img/herohome6.jpg');}}
          @media screen and (min-width: 90em) { .hero--01 { background-image: url('img/herohome6.jpg');} }
          @media screen and (min-width: 100em) { .hero--01 { background-image: url('img/herohome6.jpg');} }
        </style>
        <div class="hero__text">
          <h3 class="hero__title"><a href="page-product-single.html">Hero heading ipsum dolor sit amet</a></h3>
          <p class="hero__discl">Subheader comes here ipsum placeholder árvíztrűrő tükörfúrógép</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="hero hero--02">
        <style>
          .hero--02 { background-image: url('img/herohome1.jpg');}
          @media screen and (min-width: 48em) {.hero--02 { background-image: url('img/herohome1-tablet.jpg');}}
          @media screen and (min-width: 90em) { .hero--02 { background-image: url('img/herohome1.jpg');} }
          @media screen and (min-width: 100em) { .hero--02 { background-image: url('img/herohome1.jpg');} }
        </style>
        <div class="hero__text">
          <h3 class="hero__title"><a href="accessories.html">Ez lehet egy szép felütés</a></h3>
          <p class="hero__discl">A háttékép sötét tónusú és kető egy arányú</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="hero hero--03">
        <style>
          .hero--03 { background-image: url('img/herohome5.jpg');}
          @media screen and (min-width: 48em) {.hero--03 { background-image: url('img/herohome5.jpg');}}
          @media screen and (min-width: 90em) { .hero--03 { background-image: url('img/herohome5.jpg');} }
          @media screen and (min-width: 100em) { .hero--03 { background-image: url('img/herohome5.jpg');} }
        </style>
        <div class="hero__text">
          <h3 class="hero__title"><a href="#">Feliratot ne tegyünk a képre soha</a></h3>
        </div>
      </div>
    </div>
  </div>
  <a href="#modelgroupselector" class="show-for-tablet button small button--trapez"><span>Válassz modellt</span></a>
</section>



<section id="modelgroupselector" class="modelgroupselector" data-magellan-target="modelgroupselector">
  <div class="row expanded">
    <div class="columns small-6 medium-3">
      <a href="page-product-category.html" class="bigselect">
        <h3>Motorok</h3>
        <img src="img/hs_motor.jpg" alt="">
      </a>
    </div>
    <div class="columns small-6 medium-3">
      <a href="page-product-category.html" class="bigselect">
        <h3>Robogók</h3>
        <img src="img/hs_robogo.jpg" alt="">
      </a>
    </div>
    <div class="columns small-6 medium-3">
      <a href="page-product-category.html" class="bigselect">
        <h3>Quadok</h3>
        <img src="img/hs_quad.jpg" alt="">
      </a>
    </div>
    <div class="columns small-6 medium-3">
      <a href="page-product-category.html" class="bigselect">
        <h3>Kiegészítő</h3>
        <img src="img/hs_kiegeszito.jpg" alt="">
      </a>
    </div>
  </div>
</section>

{% include dealerpromo.html %}

{% include promo.html %}


<section class="ps ps--gray">
  <div class="row">
    <div class="columns tablet-8 xlarge-9 homenews">
      <h3 class="homenews__title">Hírek és események</h3>
      <div class="row small-up-2 medium-up-2 xlarge-up-3">
        {% include squareposts.html %}
        {% include squareposts.html %}
      </div>
      <a href="news.html" class="homenews__more">Mutasd mindet <i class="icon icon--chevron-circle-right"></i></a>
    </div>
    <div class="columns tablet-4 xlarge-3">
      <h3>Suzuki a Facebookon</h3>
      <div class="fb-page" data-href="https://www.facebook.com/SuzukiCycles" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/SuzukiCycles"><a href="https://www.facebook.com/SuzukiCycles">Suzuki</a></blockquote></div></div>
    </div>
  </div>
</section>


<aside class="home__bottomlogos ps">
  <div class="row">
    <div class="columns tablet-10 tablet-centered large-10 text-center">
      <div class="row">
        <div class="columns small-4 medium-4"><img src="img/partner_global.jpg" alt=""></div>
        <div class="columns small-4 medium-4"><img src="img/partner_team.jpg" alt=""></div>
        <div class="columns small-4 medium-4"><img src="img/partner_europe.jpg" alt=""></div>
      </div>
    </div>
  </div>
</aside>