---
layout: default
title: Single Product Page
---
<header class="prodhead">
  <div class="row">
    <div class="columns medium-9 text-center medium-text-left">
      <span class="badge prodhead__badge">Akciós</span>
      <h1 class="prodhead__modellname">GSX-S1000 ABS</h1>
      <ul class="prodhead__yearselect">
        <li><a href="#" class="active">2016</a></li>
        <li><a href="#">2015</a></li>
        <li><a href="#">2014</a></li>
      </ul>

    </div>
    <div class="columns medium-3 text-center medium-text-right">
      <ul class="prodhead__colorselect" data-tabs data-options="linkClass: colitem;" id="product__colorvariants">
        <li class="colitem atabs-title is-active"><a href="#colvarpanel-1" aria-selected="true"></a></li>
        <li class="colitem atabs-title"><a href="#colvarpanel-2"></a></li>
        <li class="colitem atabs-title"><a href="#colvarpanel-3"></a></li>
      </ul>
    </div>
  </div>
</header>
<section id="prodhero" class="prodhero text-center">
  <div class="tabs-content" data-tabs-content="product__colorvariants">
    <div class="tabs-panel is-active" id="colvarpanel-1">
      <div class="prodhero__carousel">
        <div class="item"><div class="row"><div class="columns">
          <img src="img/GSX-S1000-red.jpg" class="prodhero__img" alt="">
        </div></div></div>
        <div class="item"><div class="row"><div class="columns">
          <img src="img/bandit_s-front-cut.jpg" class="prodhero__img" alt="">
        </div></div></div>
        <div class="item"><div class="row"><div class="columns">
          <img src="img/bandit_s-front.jpg" class="prodhero__img" alt="">
        </div></div></div>
        <div class="item"><div class="row"><div class="columns">
          <img src="img/bandit_s-top.jpg" class="prodhero__img" alt="">
        </div></div></div>
      </div>
    </div>
    <div class="tabs-panel" id="colvarpanel-2">
      <div class="row">
        <div class="columns">
          <img src="img/GSX-S1000-gray.jpg" class="prodhero__img" alt="">
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="colvarpanel-3">
      <div class="row">
        <div class="columns">
          <img class="prodhero__img" src="img/DR-Z70-yellow.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<div data-sticky-container>
  <nav id="anchornav" class="anchornav anchornav--singleprod" data-check-every="0" data-sticky data-sticky-on="tablet" data-margin-top="0" data-margin-bottom="0" data-top-anchor="prodhero" data-btm-anchor="prodaccblock:bottom">
    <div class="row collapse">
      <div class="columns" data-magellan>
        <h3 class="anchornav__title"><a href="#top">GSX S-1000 ABS</a><small>2015</small></h3>
        <ul class="menu menu--anchor">
          <li><a href="#prodlead">Leírás</a></li>
          <li><a href="#prodfeatblock">Fő jellemzők</a></li>
          <li><a href="#gallery">Galéria</a></li>
          <li><a href="#prodspecblock">Műszaki adatok</a></li>
          <li><a href="#prodaccblock">Kiegészítők</a></li>
        </ul>
        <div class="anchornav__actions">
          <a href="#">PDF<i class="icon icon--download"></i></a>
          <a href="dealers.html">Kereskedők<i class="icon icon--map-marker"></i></a>
          <a href="testdrive.html">Tesztvezetés<i class="icon icon--tesztvezetes"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>
<section id="prodlead" class="prodlead text-center" data-magellan-target="prodlead">
  <div class="row ps">
    <div class="columns medium-8 medium-centered xxlarge-6">
      <img src="img/ml-gsx100.jpg" alt="GSX S-1000 ABS" class="prodhead__modellogo">
      <h2 class="prodhead__slogan">Az utca királya</h2>
      <div class="prodhead__intro">
        <p>A 2016-os GSX-S1000 a versenypályán született, az utcán nőtt föl, vérvonalát tekintve pedig a versenyek legendás bajnoka, a GSX-R1000 leszármazottja. Az új GSX-S sorozat a versenypályáról az utcára viszi a Suzuki GSX-R szellemét: azonos technológia és teljesítmény, ezúttal kifejezetten kényelmes utcai motorozásra kialakított vázon.</p>
        <p class="prodhead__jogsi">"A1" kategóriás jogosítvánnyal vezethető</p>
      </div>
    </div>
  </div>
  <div class="pricepromo promoblock">
    <div class="row">
      <div class="columns tablet-8 tablet-centered">
        <h2 class="promoblock__title">2 850 000,-Ft*</h2>
        <p class="promoblock__info"><em>*ajánlott induló ár</em></p>
        <a href="dealers.html" class="button promoblock__more">Megvásárolható kereskedőinknél</a>
      </div>
    </div>
  </div>
</section>
<section id="prodfeatblock" class="prodfeatblock ps ps--darken" data-magellan-target="prodfeatblock">
  <div class="row">
    <div class="columns">
      <h2 class="blocktitle">Fő jellemzők</h2>
      <div class="prodfeats row medium-up-2 tablet-up-3 xxxlarge-up-4">
        <div class="column prodfeat card card--transparent">
          <figure class="prodfeat__ill card__fig">
            <img src="http://placehold.it/640x480/ffffff" alt="">
          </figure>
          <h3 class="card__title">Teljesítmény korlátok nélkül</h3>
          <p class="card__text">Ezt a motort eredetileg arra tervezték, hogy a versenypályát uralja, most pedig utcai használatra optimalizálták. A kétkerekű országúti fenegyerek minden bizonnyal a saját jogán is legendás lesz. Minden helyzetben rendelkezésre áll az ideális erő és nyomaték, és mindent tud, amit egy motoros az országúton kívánhat. Sőt még annál is többet! A legkorszerűbb technológiák gondoskodnak róla, hogy minden csepp üzemanyag maximális hatásfokkal hasznosuljon, így minden megtett méter még élvezetesebb. Semmi sem állhat az utadba!</p>
        </div>
        <div class="column prodfeat card card--transparent">
          <figure class="prodfeat__ill card__fig">
            <img src="http://placehold.it/640x480/4b4b4b" alt="">
          </figure>
          <h3 class="card__title">Háromfokozatú kipörgésgátló</h3>
          <p class="card__text">A Suzuki fejlett kipörgésgátlójának köszönhetően a vezető minden helyzetben magabiztosan uralja a gázreakciót; ettől a sportos vezetés még élvezetesebb és kevésbé fárasztó. A rendszer másodpercenként 250-szer ellenőrzi az első és hátsó kerék sebességét, a forgattyústengely helyzetérzékelőjét és a sebességfokozat-érzékelőt. Ha kerékkipörgést érzékel, a gyújtásidőzítés szabályozásával azonnal csökkenti motorteljesítményt. A teljesítmény szabályozása olyan kiegyensúlyozott és természetes, hogy egyáltalán nem vesz el a motorozás élvezetéből. A vezető három fokozat közül választhat, illetve ki is kapcsolhatja a kipörgésgátlót. A fokozatok eltérő érzékenységgel működtetik a rendszert. Az egyes fokozat sportos vezetéshez ideális, ilyenkor a rendszer csak minimálisan avatkozik be. Hármas fokozatban, kedvezőtlen útviszonyok esetén maximális védelmet biztosít kerékkipörgés ellen. A kettes fokozat nyújtotta egyensúly átlagos útviszonyok mellett ideális.</p>
        </div>
        <div class="column prodfeat card card--transparent">
          <figure class="prodfeat__ill card__fig">
            <img src="http://placehold.it/640x480/2a2a2a" alt="">
          </figure>
          <h3 class="prodfeat__name card__title">Keleti kényelem az utazásban</h3>
          <p class="prodfeat__descr card__text">Új kialakítású, 43 mm-es KYB fordított villák gondoskodnak a sportos, egyszersmind kényelmes utazásról. Állítható a lengéscsillapítás, a rugóút, a kompresszió és a rugó-előfeszítés. Az egycsöves KYB hátsó villa lengéscsillapítása és rugó-előfeszítése is állítható.</p>
        </div>
        <div class="column prodfeat card card--transparent">
          <figure class="prodfeat__ill card__fig">
            <img src="http://placehold.it/640x480/4b4b4b" alt="">
          </figure>
          <h3 class="card__title">Mindennapos élményekhez tervezett váz</h3>
          <p class="card__text">A Suzuki új, kompakt, könnyű vázat tervezett a GSX-S1000 és GSX-S1000F-hez, ennek köszönhetően a jármű dinamikus, nyergében igazi élvezet a motorozás. A váz minden elemében megmutatkozik, hogy kialakításakor a fő szempont a jármű ideális kezelhetősége és manőverezőképessége volt a mindennapokban – a városi utcáktól a hegyi szerpentinekig. Az vázkeret dinamikus menettulajdonságokat és kiváló úttartást biztosít. A kormányműfej és a lengővillacsap közötti fő csövek egyenesek. Formájuknak köszönhetően a nagy merevség és a kis súly ideális együttesét sikerült elérni. A Suzuki tervezőinek végeselem-elemzés alkalmazásával sikerült elérniük, hogy az új modell váza még a jelenlegi GSX-R1000-énél is könnyebb legyen. Az erős alumíniumötvözet lengőkar a jelenlegi GSX-R1000-ből származik. A masszív merevítés is nagyban hozzájárul a kiváló úttartáshoz és a superbike-os megjelenéshez.</p>
        </div>
        <div class="column prodfeat card card--transparent">
          <figure class="prodfeat__ill card__fig">
            <img src="http://placehold.it/640x480/4b4b4b" alt="">
          </figure>
          <h3 class="card__title">Háromfokozatú kipörgésgátló</h3>
          <p class="card__text">A Suzuki fejlett kipörgésgátlójának köszönhetően a vezető minden helyzetben magabiztosan uralja a gázreakciót; ettől a sportos vezetés még élvezetesebb és kevésbé fárasztó. A rendszer másodpercenként 250-szer ellenőrzi az első és hátsó kerék sebességét, a forgattyústengely helyzetérzékelőjét és a sebességfokozat-érzékelőt. Ha kerékkipörgést érzékel, a gyújtásidőzítés szabályozásával azonnal csökkenti motorteljesítményt. A teljesítmény szabályozása olyan kiegyensúlyozott és természetes, hogy egyáltalán nem vesz el a motorozás élvezetéből. A vezető három fokozat közül választhat, illetve ki is kapcsolhatja a kipörgésgátlót. A fokozatok eltérő érzékenységgel működtetik a rendszert. Az egyes fokozat sportos vezetéshez ideális, ilyenkor a rendszer csak minimálisan avatkozik be. Hármas fokozatban, kedvezőtlen útviszonyok esetén maximális védelmet biztosít kerékkipörgés ellen. A kettes fokozat nyújtotta egyensúly átlagos útviszonyok mellett ideális.</p>
        </div>
        <div class="column prodfeat card card--transparent">
          <figure class="prodfeat__ill card__fig">
            <img src="http://placehold.it/640x480" alt="">
          </figure>
          <h3 class="card__title">Teljesítmény korlátok nélkül</h3>
          <p class="card__text">Ezt a motort eredetileg arra tervezték, hogy a versenypályát uralja, most pedig utcai használatra optimalizálták. A kétkerekű országúti fenegyerek minden bizonnyal a saját jogán is legendás lesz. Minden helyzetben rendelkezésre áll az ideális erő és nyomaték, és mindent tud, amit egy motoros az országúton kívánhat. Sőt még annál is többet! A legkorszerűbb technológiák gondoskodnak róla, hogy minden csepp üzemanyag maximális hatásfokkal hasznosuljon, így minden megtett méter még élvezetesebb. Semmi sem állhat az utadba!</p>
        </div>
      </div>
      <p><a data-toggle="prodfeatmore">További részletek</a></p>
      <div class="prodfeatmore hide" data-toggler="hide" id="prodfeatmore">
        <div class="row">
          <div class="columns medium-6">
            <h3>Lorem ipsum dolor</h3>
            <ul>
              <li>Irídium gyújtógyertyák biztosítanak erősebb szikrát és hatékonyabb égést. Ennek köszönhetően jobb a teljesítmény, egyenletesebb a gázreakció, egyszerűbb a gyújtás és stabilabb az üresjárat, mint a hagyományos gyertyák esetében.</li>
              <li>Új kialakítású bütyökprofil segítségével sikerült optimalizálni az utcai használatra is tökéletesen alkalmas, de eredetileg a versenypályára tervezett szelepvezérlést.</li>
              <li>A hűtőburkolatok hatékonyan vezetik a levegőt az újonnan tervezett nagy hatékonyságú, gömbölyű hűtőhöz. A folyadékhűtéses olajhűtő könnyű és kompakt.</li>
              <li>Végeselem-elemzés (FEM) alkalmazásával új dugattyúkat terveztek az ideális szilárdság és súly eléréséhez.</li>
              <li>A 4-2-1-es kipufogórendszernek is köszönhetően a motor alacsony és közepes fordulatszámoknál is erős, emellett a motor hangja is izgalmasabb, a teljesítmény pedig az egekbe repíti a vezető adrenalinszintjét.</li>
              <li>A Suzuki Composite Electrochemical Material (SCEM) bevonatú hengereket a felső forgattyúházba integrálták, ezzel csökkentve a súrlódást, javítva a hőleadást és a tartósságot.</li>
              <li>Az összes fojtószelepházon alkalmazott tízlyukú, hosszú csőrű üzemanyag befecskendezők is hozzájárulnak a jobb égéshez és a kisebb üzemanyag fogyasztáshoz.</li>
              <li>A 73,4 mm × 59,0 mm-es hosszú furat-löket arány kiváló gázreakciót biztosít a teljes fordulatszám-tartományban</li>
              <li>Hatsebességes, kis áttételezésű erőátviteli rendszer függőlegesen döntött tengelyekkel, hogy a motor rövidebb lehessen.</li>
              <li>Könnyű, kompakt váz, amelyet dinamikus, élménydús vezetéshez terveztek a legkülönbözőbb karakterű motorosok számára.</li>
            </ul>
          </div>
          <div class="columns medium-6">
            <h3>Ez itt egy hármas herading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sed dolorum, sint totam magni nobis, iste atque ut eius nostrum dolore ipsam, soluta facilis numquam natus quas minus excepturi distinctio.</p>
            <ul>
              <li>Könnyű, szilárd vázkeret és alumíniumötvözet lengőkar.</li>
              <li>Hatküllős, könnyű alumínium ENKEI kerekek, Dunlop radiálabronccsal.</li>
              <li>A matt fekete Renthal Fatbar alumíniumkormány az alapfelszereltség része.</li>
              <li>Alacsonyan, 815 mm magasságban elhelyezett ülés, hogy a sportos vezetés ne zárja ki az egyenes deréktartást.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include gallery.html %}
<section id="prodspecblock" class="prodspecblock ps" data-magellan-target="prodspecblock">
  <div class="row">
    <div class="columns">
      <h2 class="blocktitle">Műszaki adatok</h2>
      <div class="row small-up-3 medium-up-3 tablet-up-6 featprodspec">
        <div class="column featprodspec__item">
          <h4 class="featprodspec__item__name">Motor térfogat</h4>
          <p class="featprodspec__item__value">1200<small>cm<sup>3</sup></small></p>
        </div>
        <div class="column featprodspec__item">
          <h4 class="featprodspec__item__name">Teljesítmény</h4>
          <p class="featprodspec__item__value">70<small>lóerő</small></p>
        </div>
        <div class="column featprodspec__item">
          <h4 class="featprodspec__item__name">Nyomaték</h4>
          <p class="featprodspec__item__value">85.4<small>nM</small></p>
        </div>
        <div class="column featprodspec__item">
          <h4 class="featprodspec__item__name">Menetkész tömeg</h4>
          <p class="featprodspec__item__value">890<small>kg</small></p>
        </div>
        <div class="column featprodspec__item">
          <h4 class="featprodspec__item__name">Üzemanyagtank</h4>
          <p class="featprodspec__item__value">23<small>liter</small></p>
        </div>
        <div class="column featprodspec__item">
          <h4 class="featprodspec__item__name">Ülésmagasság</h4>
          <p class="featprodspec__item__value">75<small>cm</small></p>
        </div>
      </div>
      <div class="row tablet-collapse">
        <div class="columns medium-8 medium-push-4 large-6 large-push-6">
          <dl class="prodspec deflist">
            <dt>Motor</dt>
            <dd>Négyhengeres, négyütemű, folyadékhűtéses, DOHC</dd>
            <dt>Indítórendszer</dt>
            <dd>Elektromos</dd>
            <dt>Erőátvitel</dt>
            <dd>Hatsebességes, állandó kapcsolattal</dd>
            <dt>Első felfüggesztés</dt>
            <dd>43 mm KYB fordított villa, teljesen állítható</dd>
            <dt>Hátsó felfüggesztés</dt>
            <dd>Egycsöves, állítható lengéscsillapítással és rugó-előfeszítéssel</dd>
            <dt>Első fékek</dt>
            <dd>Radiádivs rögzítésű monoblokk Brembo féknyereg, kettős 310 mm-es tárcsák</dd>
            <dt>Hátsó fékek</dt>
            <dd>Tárcsafék</dd>
            <dt>Üzemanyagtartály kapacitása</dt>
            <dd>17 divter</dd>
            <dt>Színvariációk</dt>
            <dd>Metál tritonkék / csillogó üvegfekete / merész bonbonvörös / matt metálszürke</dd>
            <dt>Garancia</dt>
            <dd>Két év, korlátlan kilométer</dd>
            <dt>Ülésmagasság</dt>
            <dd>810 mm</dd>
            <dt>Hosszúság</dt>
            <dd>2115 mm</dd>
            <dt>Szélesség</dt>
            <dd>795 mm</dd>
            <dt>Magasság</dt>
            <dd>1080 mm</dd>
            <dt>Menetkész súly</dt>
            <dd>209 kg</dd>
            <dt>Tengelytáv</dt>
            <dd>1460 mm</dd>
          </dl>
        </div>
        <div class="columns medium-4 medium-pull-8 large-6 large-pull-6 text-center kepviszony">
          <figure class="prodspec__fig">
            <!-- <img src="img/bandit_s-front.jpg" class="prodspec__photo" alt=""> -->
            <img src="img/muszaki-portrait.jpg" class="prodspec__photo" alt="">

            <img src="img/ml-gsx100.jpg" alt="GSX S-1000 ABS" class="prodspec__modellogo">
          </figure>

        </div>
      </div>
    </div>
  </div>
</section>
{% include relatedaccs.html %}

{% include modelcat-1.html %}