---
layout: default
title: Product Category/Group Page
---


{% include modelcat-1.html %}
{% include modelcat-2.html %}
<div data-sticky-container>
  <nav id="anchornav" class="anchornav anchornav--modelcat" data-sticky data-sticky-on="tablet" data-margin-top="0" data-margin-bottom="0">
    <div class="row collapse">
      <div class="columns" data-magellan>
        <h3 class="anchornav__title"><a href="#top">Motorok</a></h3>
        <ul class="menu menu--anchor">
          <li><a href="#modelcatblock-01">Supersport</a></li>
          <li><a href="#modelcatblock-02">Adventure</a></li>
          <li><a href="#">Sport</a></li>
          <li><a href="#">Cruiser</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
        <div class="anchornav__actions">
          <a href="dealers.html">Kereskedők<i class="icon icon--map-marker"></i></a>
          <a href="#" data-toggle="offCanvasRight">Tesztvezetés<i class="icon icon--tesztvezetes"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>

