---
layout: default
title: Single Post Page
---

<article class="singlepost">
  <header class="postheader">
    <div class="banner ps--inverse">
      <h2 class="banner__title">Bemutató</h2>
    </div>
    <div class="row singlepost__header ps">
      <div class="columns">
        <div class="row">
          <div class="tablet-10 large-8 tablet-centered">
            <time class="singlepost__header__time" datetime="2015-09-15">2015. szeptember 15.</time>
            <h1 class="singlepost__title decorlined">Történelmi pole pozíció Catalugna MotoGP</h1>
          </div>
        </div>

        <div class="singlepost__lead lead">
          <p>Jelentős pozitív summával zárta a Katalán Nagydíjat a Team Suzuki Ecstar. Elégedett és büszke lehet a Suzuki-család MotoGP-n elért eredményeinkre: elképesztő az Aleix Espargaró által megszerzett pole pozíció és Maverick Viñales második rajthelye – Suzuki „egy-kettőt” az időmérőn az 1993-as, Jerez-i nagydíj óta nem láttunk!</p>
        </div>
      </div>
    </div>
  </header>
  <section class="singlepost__copybody copybody">
    <div class="row">
      <div class="columns tablet-10 large-8 tablet-centered">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi soluta, aliquam eligendi, mollitia at distinctio quo aspernatur pariatur deserunt ducimus suscipit vero minima ea, omnis velit quae similique explicabo ipsam!</p>
        <h2>A versenynap kettes címsorral</h2>
        <p>Sajnálatos módon maga a futam Espargaró számára a sóderágyban, meggyötört önérzettel ért véget öt körrel a vége előtt, azonban Viñales végig kimagasló teljesítményt nyújtva, sok csata árán ismét javított legjobb végeredményén. Előkelő hatodik helyezésével újabb MotoGP-pontokat gyűjtött kezdő évében Maverick.</p>
        <p><strong>Satoru Terada, a Suzuki Grand Prix-projekt vezetője elégedetten nyilatkozott:</strong></p>
        <blockquote>
          <p>„Pozitív hétvégét zártunk. Nyilván sajnálom Aleix esését, de vegyük észre, hogy negyedik helyről, a vezető helyekért vívott csatából csúszott ki. Tehát jó irányba haladunk, a motor rohamléptekben fejlődik, ezt támasztja alá az időmérőn elért kiváló eredményünk. Maverick számára is pozitív volt a verseny, hatodik helyre javította eddigi legjobbját, és nem csak egy körön, de a teljes verseny alatt végig gyors időkre volt képes.”</p>
        </blockquote>
        <p>Sikereink ellenére megállás nélkül folytatjuk a munkát. Új kialakítású erőforrásunkkal nem csak a csúcsteljesítményen növeltünk, de a teljesítmény leadása is egyenletes és kiszámítható, ami nagyon fontos. A verseny utáni teszteken az aerodinamika és vezérlő-elektronika fejlesztéseit próbáljuk ki, remélhetőleg még több előnyhöz jutunk általuk.</p>
        <ul>
          <li>Így néz ki a felsorolás, persze lehetnek hoszabbak is a listaelemek</li>
          <li>Szépen egymás után, segíti az olvashatóságot</li>
          <li>Remélem tetszik, érdemes használni</li>
          <li>Na még egyet ideteszek, hogy lássuk hogy néz ki</li>
        </ul>
        <p>Teutschenthal a Német nagydíj otthona, a tavaly szeptemberi, 67. Nemzetek Krossza után <a href="#">átesett némi felújításon</a> és módosításon. A pályát valamelyest lerövidítették, de továbbra is a sötét felszín, kis buckák és eldobók, valamint sok beszűkülő kanyar jellemzi.</p>
        <h3>Hármas szintű címsor</h3>
        <p>Szombaton Strijbos uralta a pályát, ami számára a szezon harmadik pole-ját jelentette. Vasárnap viszont mindkét 30 perc és két körös futam Desalle-é volt, aki annak ellenére mutatott igen jó formát, hogy még mindig a múlt hétvégén begyűjtött csuklósérülésével bajlódott. Ebből azonban nem sokat lehetett észrevenni annak alapján, ahogyan az öt másodperces hátrányát ledolgozta az élen motorozó Nagel mögött, miközben a futam leggyorsabb körét is megfutotta. Szoros küzdelem alakult ki közte és a német között, de végül Desalle nem tudta átverekedni magát az első helyre. A második futamban viszont a harmadik kanyartól az élre állt, és vissza se nézett. Ez volt a hetedik futamgyőzelme az évben, és az elmúlt öt nagydíjból pedig a hatodik.</p>
        <figure>
          <a href="#"><img src="http://placehold.it/1280x768" alt=""></a>
          <figcaption>Under cutesy os suzuki Global</figcaption>
        </figure>
        <p>Strijbos sem volt nagyon lemaradva tőle. Az első futamban beszorult Valentin Teillet mögé, így végül hetedik lett. A második futamban viszont két nagyszerű előzés után a második helyre jött fel, így a végelszámolásban negyediknek zárt, összesítésben pedig csak két ponttal csúszott le a dobogó harmadik fokáról.</p>
        <p>A Német nagydíj után Desalle 452 ponttal áll az összesítésben mindössze csak 25 ponttal Carioli mögött. Strijbos tovább erősíti kényelmes negyedik helyét, 108 ponttal előzi meg az ötödik Shaun Simpson-t.</p>
        <p>A bajnokságban július első két hétvégéjén a Svéd és a Finn nagydíjak következnek. Két húzós, egymást követő versenyhétvége után a csapat most szusszan egyet, mielőtt a 2014-es bajnokság a célegyenesébe fordul.</p>
      </div>
    </div>
  </section>

  {% include gallery.html %}

</article>



{% include promo.html %}


{% include relatedposts.html %}




