<aside class="fityesz">
  <a href="#" class="fityesz__toggle"><i class="icon icon--traingle-left"></i></a>
  <div class="fityesz__body">
    <h3>Megosztás</h3>
    <a href="#" class=""><i class="icon icon--facebook-circle-outline"></i> Facebook</a>
    <a href="#" class=""><i class="icon icon--plus-circle-outline"></i> Google Plus</a>
    <a href="#" class=""><i class="icon icon--twitter-circle-outline"></i> Twitter</a>
    <a href="#" class=""><i class="icon icon--envelope"></i> Email</a>
  </div>
</aside>