<footer id="sitefooter" class="sitefooter" role="contentinfo" data-magellan data-magellan-target="sitefooter">
  <a href="#top" class="tothetop" data-magellan>
    <i class="icon icon--chevron-up"></i>
  </a>
  <div class="sitefooter__top">
    <div class="row">
      <div class="columns">
         <span class="sitefooter__slogan"><a href="newsletter.html">Hírlevél feliratkozás<i class="icon icon--triangle-right"></i></a></span>
         <nav class="sitefooter__socialnav">
           <a href="#"><i class="icon icon--facebook-circle"></i></a>
           <a href="#"><i class="icon icon--youtube-circle"></i></a>
           <a href="newsletter.html"><i class="icon icon--envelope-circle"></i></a>
         </nav>
         <nav class="sitefooter__suzukinav">
            <a href="aboutus.html#ugyfsz">Ügyfélszolgálat</a>
            <a href="aboutus.html#sajto">Sajtó</a>
            <a href="#">Adatkezelés</a>
            <a href="#">Bejelentkezés</a>
         </nav>
      </div>
    </div>
  </div>
  <div class="sitefooter__bottom">
    <div class="row">
      <div class="columns">
        <span class="sitefooter__copy">&copy; Magyar Suzuki Zrt.</span>
        <nav class="sitefooter__sitelinks">
          <ul class="menu menu--sitelinks">
            <li><a href="#">Autó</a></li>
            <li><a href="#">Marine</a></li>
            <li><a href="#">Magyar Suzuki Zrt.</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>