<aside class="bottomsidebar ps ps--inverse">
  <div class="row">
    <div class="columns">
      <h2>Bottom sidebar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas itaque provident nobis minima, quis pariatur quibusdam in, dignissimos. Veniam quibusdam officiis architecto facilis soluta rem iure, optio. Esse, mollitia, autem.</p>
    </div>
  </div>
</aside>
<footer class="sitefooter ps--gray" role="contentinfo">
  <div class="row">
    <div class="columns">
      <p>sitefooter - Some content goes here</p>
    </div>
  </div>
</footer>