<footer class="sitefooter" role="contentinfo">
  <div class="sitefooter__top ps ps--narrow">
    <div class="row">
      <div class="columns">
        <span class="sitefooter__slogan">Suzuki. Way of Life!</span>
         <nav class="sitefooter__socialnav">
           <a href="#"><i class="icon icon--facebook">F</i></a>
           <a href="#"><i class="icon icon--twitter">T</i></a>
           <a href="#"><i class="icon icon--instagram">I</i></a>
           <a href="#"><i class="icon icon--rss">R</i></a>
         </nav>
         <nav class="sitefooter__suzukinav">
            <a href="#">Autó</a>
            <a href="#">Marine</a>
            <a href="#">Global</a>
            <a href="#">Suzuki Zrt.</a>
         </nav>
      </div>
    </div>
  </div>

  <div class="sitefooter__bottom">
    <div class="row">
      <div class="columns">
        <span class="sitefooter__copy">&copy; Suzuki Magyarország Zrt.</span>
        <nav class="sitefooter__sitelinks">
          <ul class="menu menu--sitelinks">
            <li><a href="#">Ügyfélszolgálat</a></li>
            <li><a href="#">Sajtó</a></li>
            <li><a href="#">Felhasználás feltételei</a></li>
            <li><a href="#">Bejelentkezés</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>