<section id="gallery" class="gallery" data-magellan-target="gallery">
  <div class="row expanded collapse galrow">
    <div class="columns tablet-10 tablet-centered xxlarge-8">
      <div id="thegal" class="gallery__carousel">

        <div class="item">
          <div class="gallery__item">
            <img src="http://www.suzukimotorcycles.com.au/sites/default/files/styles/hero_gallery_full_medium/public/images/GSX-S1000AL6_Action_23_1436846745.jpg" alt="Felirat vagy valami?">
            <div class="gallery__item__text">
              <h3>Látványa lenyűgöző, baritonja elbűvölő</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="gallery__item">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/AvmuhxvEZ1I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="item">
          <div class="gallery__item">
            <img src="http://www.suzukimotorcycles.com.au/sites/default/files/styles/hero_gallery_full_medium/public/images/GSX-S1000AL6_Action_24_1436846798.jpg" alt="Írd le amit látsz">
            <div class="gallery__item__text">
              <h3>Letisztult vonalak, átgondolt részletek</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="gallery__item">
            <img src="img/allitott-kep.jpg" alt="Írd le amit látsz">
            <div class="gallery__item__text">
              <h3>Állítottat inkább ne használjunk széttolja, inkább egyesítsümk 2 állóképet!!!</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="gallery__item">
            <img src="img/muszaki-portrait.jpg" alt="Írd le amit látsz">
            <div class="gallery__item__text">
              <h3>Fehér kifótósat és állítottat ne!!!</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="gallery__item">
            <img src="http://www.suzukimotorcycles.com.au/sites/default/files/styles/hero_gallery_full_medium/public/images/GSX-S1000AL6_Action_2.jpg" alt="Mi látható a képen">
            <div class="gallery__item__text">
              <h3>Kiemelkedik a tömegből és tömegeket vonz</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="gallery__item">
            <img src="http://www.suzukimotorcycles.com.au/sites/default/files/styles/hero_gallery_full_medium/public/images/GSX-S1000AL6_Action_24_1436846798.jpg" alt="Írd le amit látsz">
            <div class="gallery__item__text">
              <h3>Hétvégi gurulás a haverokkal</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="gallery__item">
            <img src="http://placehold.it/1280x800/3b3b3b/?text=min.:1280x768" alt="Írd le amit látsz">
          </div>
        </div>
        <div class="item">
          <div class="gallery__item">
            <img src="http://www.suzukimotorcycles.com.au/sites/default/files/styles/hero_gallery_full_medium/public/images/GSX-S1000AL6_Action_24_1436846798.jpg" alt="Írd le amit látsz">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row expanded collapse thumbrow">
    <div class="columns tablet-10 tablet-centered xxlarge-8">
      <div id="thethumbs" class="thumbs__carousel">
        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/cacaca/?text=Gallery+Item" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__thumb item__thumb--video">
            <img src="http://placehold.it/320x240/3b3b3b/?text=video" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/1a1a1a/?text=Thumbnail" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/1a1a1a/?text=Allitott" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/1a1a1a/?text=Portrait" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/3b3b3b/?text=320x240" alt="">
          </div>
        </div>

        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/3b3b3b/?text=320x240" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/1a1a1a/?text=Thumbnail" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__thumb">
            <img src="http://placehold.it/320x240/1b1b1b/?text=Bogyo" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>

</section>