<header class="sitehead">
  <div class="row collapse large-uncollapse expanded">
    <div class="columns tablet-8">
      <h1 class="headlogo show-for-tablet"><a href="/">Suzuki Motors Hungary</a></h1>
      <div class="sitenavs">
        <nav class="secnav">
          <ul class="menu menu--sec">
            <li><a href="offers.html">Ajánlatok</a></li>
            <li><a href="prices.html">Árlista</a></li>
            <li><a href="videos.html">Videók</a></li>
            <li><a href="news.html">Hírek</a></li>
            <li><a href="aboutus.html">Rólunk</a></li>
          </ul>
        </nav>
        <nav class="prinav">
          <ul class="menu menu--pri">
            <li><a href="page-product-category.html">Motorok</a></li>
            <li><a href="page-product-category.html">Robogók</a></li>
            <li><a href="page-product-category.html">Quadok</a></li>
            <li><a href="accessories.html">Kiegészítők</a></li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="columns tablet-4 tablet-text-right sitehead__actions">
      <div class="sitehead__actions__buttons">
        <a href="testdrive.html" class="button">Tesztvezetés<i class="icon icon--tesztvezetes"></i></a>
        <a href="dealers.html" class="button">Kereskedők<i class="icon icon--map-marker"></i></a>
      </div>
      <div class="langsel">
        <a href="#" class="active">En</a>
      </div>
    </div>

  </div>
</header>
