<header class="sitehead">
  <div class="row collapse expanded">
    <div class="columns tablet-9">
      <h1 class="headlogo"><a href="/">Suzuki Motors Hungary</a></h1>
      <div class="sitenavs">
        <nav class="secnav">
          <ul class="menu menu--sec">
            <li><a href="news.html">Ajánlatok</a></li>
            <li><a href="prices.html">Árlista</a></li>
            <li><a href="accessories.html">Kiegészítők</a></li>
            <li><a href="news.html">Hírek</a></li>
            <li><a href="aboutus.html">Rólunk</a></li>
            <li><a href="toc.html">TOC</a></li>
          </ul>
        </nav>
        <nav class="prinav">
          <ul class="menu menu--pri">
            <li><a href="page-product-category.html">Motorok</a></li>
            <li><a href="page-product-category.html">Robogók</a></li>
            <li><a href="page-product-category.html">Quadok</a></li>
            <!-- <li><a href="accessories.html">Kiegészítő</a></li> -->
          </ul>
        </nav>
      </div>

    </div>
    <div class="columns tablet-3 tablet-text-right show-for-tablet">
      <button type="button" class="button small" data-toggle="offCanvasRight">Tesztvezetés</button>
      <a href="dealers.html" class="button small">Kereskedők</a>
    </div>

  </div>
</header>
