<header class="mobilehead hide-for-tablet">
  <div class="row collapse">
    <div class="columns small-2">
      <h1 class="mobileheadlogo"><a href="/">Suzuki Motors Hungary</a></h1>
    </div>
    <div class="columns small-10 text-right">
      <a href="dealers.html" class="button small">Kereskedők</a>
      <button type="button" class="button alert small" data-toggle="offCanvasRight">Tesztvezetés</button>
      <button type="button" class="button large" data-toggle="offCanvasLeft">M</button>

    </div>
  </div>
</header>

