<header class="mobilehead hide-for-tablet">
  <div class="row collapse">
    <div class="columns">
      <button type="button" class="button openmenu">
        <i class="icon icon--hamburger"></i>
      </button>
      <a href="dealers.html" class="button button--dealers" >
        <i class="icon icon--map-marker"></i>
      </a>
      <a href="testdrive.html" class="button button--testdrive" >
        <i class="icon icon--tesztvezetes"></i>
      </a>
      <a href="#" class="button button--langsel">
        <span>Hu</span>
      </a>
      <h1 class="mobileheadlogo"><a href="/">Suzuki Motors Hungary</a></h1>
    </div>

  </div>
</header>

