<section id="modelcatblock-01" class="modelcatblock" data-magellan-target="modelcatblock-01">
  <style>
  #modelcatblock-01 .banner {
  background-image: url('img/fejlec/supersport.jpg');
  }
  </style>
  <header class="banner">
    <h2 class="banner__title">Supersport</h2>
  </header>
  <div class="modelcat ps text-center">
    <div class="row expanded collapse">
      <div class="columns tablet-8 tablet-centered xxlarge-6">
        <div class="owl-carousel modelcat__carousel modelcat__carousel1">
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">GSX-S1000F</a></h3>
                <p class="modelcat__item__slogan">Az országút királya</p>
              </header>
              <img src="img/GSX-S1000-red.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">TFS Ipsum F500 ABS</a></h3>
                <p class="modelcat__item__slogan">A sikátorok réme</p>
              </header>
              <img src="img/GSX-S1000-gray.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">TFS Hayabusa Ipsum</a></h3>
                <p class="modelcat__item__slogan">Lorem ipsum dolor sit amet</p>
              </header>
              <img src="img/GSX-S1000-red.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">GSX-S1000F</a></h3>
                <p class="modelcat__item__slogan">Az országút királya</p>
              </header>
              <img src="img/GSX-S1000-red.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">Abcug F500 ABS</a></h3>
                <p class="modelcat__item__slogan">A sikátorok réme</p>
              </header>
              <img src="img/GSX-S1000-gray.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">TFS Hayabusa Ipsum</a></h3>
                <p class="modelcat__item__slogan">Lorem ipsum dolor sit amet</p>
              </header>
              <img src="img/GSX-S1000-red.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">GSX-S1000F</a></h3>
                <p class="modelcat__item__slogan">Az országút királya</p>
              </header>
              <img src="img/GSX-S1000-red.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">Lorem F500 ABS</a></h3>
                <p class="modelcat__item__slogan">Dolor sita sikátorok réme</p>
              </header>
              <img src="img/GSX-S1000-gray.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">TFS Hayabusa Ipsum</a></h3>
                <p class="modelcat__item__slogan">Lorem ipsum dolor sit amet</p>
              </header>
              <img src="img/GSX-S1000-red.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">Abcug F500 ABS</a></h3>
                <p class="modelcat__item__slogan">A sikátorok réme</p>
              </header>
              <img src="img/GSX-S1000-gray.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
          <div class="item">
            <div class="modelcat__item">
              <header class="modelcat__item__head">
                <h3 class="modelcat__item__title"><a href="page-product-single.html">GSX-S1000F</a></h3>
                <p class="modelcat__item__slogan">Az országút királya</p>
              </header>
              <img src="img/GSX-S1000-red.jpg" alt="">
              <a href="page-product-single.html" class="button">Ugrás a modellhez</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>