<aside class="promo ps">
  <div class="row">
    <div class="columns medium-8 tablet-9 xxlarge-9">
      <h3 class="promo__title"><a href="post-single.html">Suzuki motorkerékpár finanszírozás 20% önerőtől</a></h3>
      <h4 class="promo__subtitle">Akár 60 hónapos futamidőre | THM: 3,99%</h4>
      <p class="promo__discl">
        Most 20% önerő befizetésével (maximum 2.000.000 Ft-ig), akár 60 hónap futamidőre, változó kamatozású forint finanszírozással és Casco biztosítással vásárolhatod meg álmaid Suzukiját! THM: 3,99%
      </p>
      <a href="post-single.html" class="button promo__more">Tudj meg többet</a>
    </div>
  </div>
</aside>