<aside class="ps ps--gray relatedposts">
  <header class="row tilehead">
    <div class="columns">
      <h3 class="tilehead__title">Kapcsolódó írások</h3>
    </div>
  </header>
  <div class="row collapse">
    <div class="columns">
      <div class="relpost-carousel owl-carousel">
        <div class="item">{% include sqpost1.html %}</div>
        <div class="item">{% include sqpost2.html %}</div>
        <div class="item">{% include sqpost3.html %}</div>
        <div class="item">{% include sqpost1.html %}</div>
        <div class="item">{% include sqpost2.html %}</div>
        <div class="item">{% include sqpost3.html %}</div>
        <div class="item">{% include sqpost1.html %}</div>
      </div>
      <!-- <a href="#" class="button ps__buttonmore">Összes hír</a> -->
    </div>
  </div>
</aside>