<aside id="prodaccblock" class="prodaccblock" data-magellan-target="prodaccblock">
  <div class="ps ps--inverse">
    <div class="row collapse">
     <h2 class="blocktitle blocktitle--nobottom">Kiegészítők</h2>
      <div class="columns">
        <div class="relacc-carousel owl-carousel">
          {% include squareaccs.html %}
        </div>
        <a href="accessories.html" class="relacc__more">Még több kiegészítő <i class="icon icon--chevron-circle-right"></i></a>
      </div>
    </div>
  </div>
</aside>