<aside id="prodaccblock" class="prodaccblock" data-magellan-target="prodaccblock">
  <header class="banner banner--white">
    <h2 class="banner__title">Kiegészítők</h2>
  </header>
  <div class="ps ps--inverse">
    <div class="row collapse">
      <div class="columns">
        <div class="relacc-carousel owl-carousel">
          <div class="item">{% include sqacc1.html %}</div>
          <div class="item">{% include sqacc2.html %}</div>
          <div class="item">{% include sqacc3.html %}</div>
          <div class="item">{% include sqacc1.html %}</div>
          <div class="item">{% include sqacc2.html %}</div>
          <div class="item">{% include sqacc3.html %}</div>
          <div class="item">{% include sqacc1.html %}</div>
        </div>
        <a href="accessories.html" class="relacc__more">Még több kiegészítő <i class="icon icon--chevron-circle-right"></i></a>
      </div>
    </div>
  </div>
</aside>