<!-- build:js(app) /js/vendor.js -->
<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script src="/_bower_components/what-input/what-input.js"></script>
<script src="/_bower_components/foundation-sites/dist/foundation.js"></script>
<script src="/_bower_components/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="/_bower_components/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/_bower_components/isotope/dist/isotope.pkgd.js"></script>
<script src="/_bower_components/jquery.fitvids/jquery.fitvids.js"></script>
<script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<!-- endbuild -->

<!-- build:js(app) /js/script.js -->
<script src="/js/main.js"></script>
<!-- endbuild -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.5&appId=197341800418088";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

