<div class="squareacc card">
  <figure class="card__fig">
    <a href="post-single.html"><img src="http://placehold.it/640x320" alt=""></a>
  </figure>
  <span class="card__label">121 500,-Ft</span>
  <h3 class="card__title"><a href="accessories.html">Lorem Suzuki tank protector light</a></h3>
  <div class="card__text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, assumenda, rem. Nobis in, libero. Ratione explicabo ullam ex similique, blanditiis error commodi nobis autem, itaque sit, voluptatibus cupiditate quasi obcaecati.</p>
  </div>
</div>