<div class="squareacc card">
  <figure class="card__fig">
    <a href="accessories.html"><img src="http://placehold.it/640x320" alt=""></a>
  </figure>
  <span class="card__label">121 500,-Ft</span>
  <h3 class="card__title"><a href="accessories.html">Lorem Suzuki tank protector light</a></h3>
  <div class="card__text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, assumenda, rem. Nobis in, libero. Ratione explicabo ullam ex similique, blanditiis error commodi nobis autem, itaque sit, voluptatibus cupiditate quasi obcaecati.</p>
  </div>
  <footer class="card__footer">
    Cikszám: <span class="card__cikkszam">h3 234.665.</span>
  </footer>
</div>