<div class="column">
  <div class="squareacc card ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320" alt=""></a>
    </figure>
    <span class="card__label">121 500,-Ft</span>
    <h3 class="card__title"><a href="post-single.html">Lorem Suzuki tank protector light</a></h3>
  </div>
</div>

<div class="column">
  <div class="squareacc card ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320/cecece" alt=""></a>
    </figure>
    <span class="card__label">49 900,-Ft</span>
    <h3 class="card__title"><a href="post-single.html">St MX dolor sit amet</a></h3>
  </div>
</div>

<div class="column">
  <div class="squareacc card ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320/3b3b3b" alt=""></a>
    </figure>
    <span class="card__label">7 800,-Ft</span>
    <h3 class="card__title"><a href="post-single.html">Piros acél tanksapka védő</a></h3>
  </div>
</div>