<div class="column">
  <div class="squarepost card ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320" alt=""></a>
    </figure>
    <span class="card__label">Sporthírek</span>
    <h3 class="card__title"><a href="post-single.html">Team Toth Suzuki első versenye - MX OB Monor</a></h3>
  </div>
</div>

<div class="column">
  <div class="squarepost card ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320/cecece" alt=""></a>
    </figure>
    <span class="card__label">Események</span>
    <h3 class="card__title"><a href="post-single.html">St Jean D'Angely, Franciaország</a></h3>
  </div>
</div>

<div class="column">
  <div class="squarepost card ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320/3b3b3b" alt=""></a>
    </figure>
    <span class="card__label">Bemutató</span>
    <h3 class="card__title"><a href="post-single.html">Történelmi pozíció ipsum dolor sit amet</a></h3>
  </div>
</div>