<div class="column">
  <div class="squarepost card card--transparent ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320" alt=""></a>
    </figure>
    <span class="card__label">Sporthírek</span>
    <h3 class="card__title"><a href="post-single.html">Team Toth Suzuki első versenye - MX OB Monor</a></h3>
    <footer class="card__footer">
      <time class="card__time" datetime="2016-02-28">2015. február 28.</time>
    </footer>

  </div>
</div>

<div class="column">
  <div class="squarepost card card--transparent ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320" alt=""></a>
    </figure>
    <span class="card__label">Események</span>
    <h3 class="card__title"><a href="post-single.html">St Jean D'Angely, Franciaország</a></h3>
    <footer class="card__footer">
      <time class="card__time" datetime="2015-10-04">2015. október 04.</time>
    </footer>
  </div>
</div>

<div class="column">
  <div class="squarepost card card--transparent ">
    <figure class="card__fig">
      <a href="post-single.html"><img src="http://placehold.it/640x320" alt=""></a>
    </figure>
    <span class="card__label">Bemutató</span>
    <h3 class="card__title"><a href="post-single.html">Történelmi pozíció ipsum dolor sit amet</a></h3>
    <footer class="card__footer">
      <time class="card__time" datetime="2016-02-27">2016. február 27.</time>
    </footer>
  </div>
</div>