<div id="testdriveblock" class="testdriveblock">
  <div class="row">
    <div class="columns">
      <h3 class="blocktitle">Jelentkezés tesztmotorozásra</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit possimus tempore.</p>
      <form>
        <fieldset>
          <legend>Személyes adatok</legend>

          <div class="row">
            <div class="columns">
              <label for="testdrive__name">Név
                <input name="testdrive__name" id="testdrive__name" type="text" placeholder="Adja meg nevét">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="tablet-6 columns">
              <label for="testdrive__email">E-mail
                <input name="testdrive__email" id="testdrive__email" type="email" placeholder="E-mail címét">
              </label>
            </div>
            <div class="tablet-6 columns">
              <label for="testdrive__tel">Telefon
                <input name="testdrive__tel" id="testdrive__tel" type="tel" placeholder="Telefonszámát">
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Helyszín és modell</legend>
          <label for="testdirve__Model">Model
            <select name="testdrive__model" id="testdrive__model">
              <option value="0">Válassz modelt</option>
              <option value="1">GSX S1000 F ABS</option>
              <option value="2">Hayabusha</option>
              <option value="3">FSA MX 300</option>
              <option value="4">GTA D240</option>
              <option value="2">Nintendo 2000</option>
              <option value="3">FSA MX 300</option>
              <option value="4">GTA D240</option>
            </select>
          </label>
          <label for="testdrive__dealer">Település
            <select name="tesrdrive__dealer" id="testdrive__dealer">
               <option value="0">Válassz települést</option>
              <option value="1">Baja - Ranch Suzuki</option>
              <option value="2">Budapest - Motormadness</option>
              <option value="3">Kecskemét - Blue Ranch Suzuki</option>
              <option value="4">Pécs - Red Motormadness</option>
            </select>
          </label>
        </fieldset>

        <div class="formactions">
          <input type="submit" class="button" value="Jelentkezés elköldése">
        </div>
      </form>
    </div>
  </div>
</div>