html {
  @include breakpoint('tablet') {
    font-size: 87.5%;
  }
  @include breakpoint('large') {
    font-size: 100%;
  }
  @include breakpoint('xxlarge') {
    font-size: 112.5%;
  }
}

main {
  @include clearfix();
  position: relative;
}

.button {
  text-transform: uppercase;
  font-weight:$global-weight-bold;
}
figure {
  margin:0 0 $paragraph-margin-bottom 0;
  padding:0;
}

figcaption {
 color:$dark-gray;
 font-size: .875rem;
 text-align: center;
 margin-top: .5em;

}
blockquote {
  @include clearfix();
  background-color: $light-gray;
}
.copybody {
  h2,h3,h4,h5,h6 {

  }

  p a:not(.button), li a {
    text-shadow: 0.04545em 0 0 #fff,0.09091em 0 0 #fff,0.13636em 0 0 #fff,-0.04545em 0 0 #fff,-0.09091em 0 0 #fff,-0.13636em 0 0 #fff,0 0.04545em 0 #fff,0 0.09091em 0 #fff,0 -0.04545em 0 #fff,0 -0.09091em 0 #fff;
    background-image: linear-gradient($dark-gray, $dark-gray);
    background-position: 0 1.1em;
    background-size: 1px 1px;
    background-repeat: repeat-x;
    &:hover {
      text-shadow: 0.04545em 0 0 #fff,0.09091em 0 0 #fff,0.13636em 0 0 #fff,-0.04545em 0 0 #fff,-0.09091em 0 0 #fff,-0.13636em 0 0 #fff,0 0.04545em 0 #fff,0 0.09091em 0 #fff,0 -0.04545em 0 #fff,0 -0.09091em 0 #fff;
      background-image: linear-gradient($alert-color, $alert-color);
      background-position: 0 1.0975em;
      background-size: 2px 2px;
    }
  }
}

.badge {
  font-weight: $global-weight-extrabold;
}

.button--trapez {
  position: relative;
  margin:0;
  background-color: transparent;
  padding-top: 1em;
  z-index: 1;
  &:hover, &:focus {
    background-color: transparent;
    &:before {
      background-color: $success-color;
      border:1px solid $secondary-color;
    }
  }

  &:before {
    content: ''; /* To generate the box */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background-color: $warning-color;
    transform: perspective(.25em) rotateX(1deg) scale(1.0125) translateY(-.125em);
    border:1px solid $primary-color;
  }
}

// iframe {
//   border:0;
//   max-width: 100%;
//   height: auto;
//   -ms-interpolation-mode: bicubic;
//   display: inline-block;
//   vertical-align: middle;
// }


.tabs-title {
  display: inline-block;
  float:none;
  > a {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $global-weight-bold;
    display: inline-block;
    &:hover, &:focus {
      //color:$success-color;
    }
  }
  &:not(:last-child) {
    &:after {
      content: '/';
      font-weight: $global-weight-extrabold;
    }
  }
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  color:$secondary-color;
}
