.butikheader {
  background-color: $white;
}
.butikfej {
  //background-color: #fff;
}
.smarthead {
  color:$secondary-color;
  font-weight: 900;
  margin:3vw 0 0;
  font-size: 2.5rem;
  h2 {
    line-height: 1;
    margin:0;
    display: inline-block;
    font-size: inherit;
  }
  a {
    line-height: 1;
    display: inline-block;
    color:$medium-gray;
    &:hover, &:focus {
      color:$success-color;
    }
  }
  span {
    color:$alert-color;
  }
}

.butikfilteredtitle {
  //color:$light-gray;
  font-size: .875rem;
  margin:.5rem 0 3vw;
 // text-align: left;
 font-weight: $global-weight-normal;
  em {
    display: block;
    font-style: normal;
    font-size: 200%;
    color:$dark-gray;
    //color:$light-gray;
    font-weight: $global-weight-extrabold;
  }
}

.butikblock {
  background-color: $white;
}

.accsearch {
  text-align: right;
  position: relative;
  .nldropdown {
    text-align: left;
    left:auto !important;
    right:0;
    top: auto !important;
    bottom:.25rem;
    width:300px;
  }
  // form {
  //   display: none;
  //   input {
  //     margin-bottom: .25rem;
  //   }


  // }

  // &.open {
  //   form {
  //     position: absolute;
  //     bottom:0;
  //     right:.125rem;
  //     width:14rem;
  //     display: block;
  //   }
  // }
}

.accsearch__toggle {

  color:$success-color;
  font-weight: $global-weight-extrabold;
  text-transform: uppercase;

  &:hover, &:focus {
    color:$alert-color;
  }

  .icon {
    //font-size: 150%;
  }
}


.menu--innermain {
  //font-size: 1rem;
  color: $medium-gray;
  text-transform: uppercase;
  > li {
    display: inline-block;
    &:not(:last-child)::after {
      content:'/';
      display: inline-block;
      margin:0 0 0 .25em;
    }
    > a {
      display: inline-block;
      color: $medium-gray;
      padding: 0.25em .25em;
      &:hover, &:focus {
        color:$success-color;
      }
      &.active {
        color:$white;
      }
    }
  }
}
.sidenav {
  h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin:.125rem 0 2.5rem;
  }
  .disclaimer {
    margin:.25rem 0 0;
    font-size: .75rem;
    line-height: 1.2;
    
    text-transform: uppercase;

  }
  margin-bottom: 2rem;
}
.menu--innerside {
  a {
    //color:$secondary-color;
    &:hover {
      color:$success-color !important;
    }
  }
  > li {
    > a {
      text-transform: uppercase;
      font-weight: $global-weight-extrabold;
      font-size: 1.125rem;
    }
  }

  > li > .submenu {
    padding-bottom:1rem;
    > li {
      > a {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: $global-weight-extrabold;
        padding:.5em 0;
        //color:$dark-gray;
      }
    }
  }

  > li > .submenu > li > .submenu {
    padding-bottom:.5rem;
    > li {
      > a {
        font-size: .875rem;
        font-weight: $global-weight-normal;
        text-transform: uppercase;
        padding:.4em 0;
        //color:$dark-gray;
      }
    }
  }





}

.butikblock {
  .breadcrumbs {
    //text-align: inherit;
    margin:0 0 .5rem;
    li {
      color: $body-font-color;
      //float:none;
      //display: inline-block;
    }
    li:not(:last-child)::after {
      //margin:0 .25rem 0 .5rem;
      top:0;
    }

    a {
      color:$dark-gray;
      &:hover, &:focus {
        color:$success-color;
        text-decoration:none;
      }

    }
  }
}