.blocktitle {
  text-align: center;
  margin-bottom: 1.5em;
  font-weight: $global-weight-extrabold;
  text-transform: uppercase;
  &:after {
    content:'';
    display: block;
    margin:.333em auto 0 auto;
    width:5%;
    height:.25rem;
    background-color: $secondary-color;
  }
}

.decorlined {

  &:after {
    content:'';
    display: block;
    margin:.333em auto 0 auto;
    width:5%;
    height:.25rem;
    background-color: $alert-color;
  }
}

.ps__buttonmore {
  display: block;
  margin:0 auto;
  padding-left: 2%;
  padding-right: 2%;
  margin:2rem calc(50% - 5rem) 0;
  //max-width: 12rem;
}

.deflist {
  dt {
    float:left;
    clear:left;
    width:33.333%;
    max-width: 20rem;
    padding:1.25rem 1rem .75rem 0;
    margin-bottom: $paragraph-margin-bottom/3;
    border-top: 1px solid $medium-gray;
  }
  dd {
    width:66.666%;
    float:left;
    padding:1.25rem 0 .75rem 1rem;
    margin-bottom: $paragraph-margin-bottom/3;
    border-top: 1px solid $medium-gray;
  }
  dt:first-of-type, dd:first-of-type  {
    border-color: transparent;
  }
}



.doublelist {
  @include clearfix();
  >li {
    @include breakpoint(medium) {
      width:50%;
      float:left;
      &:nth-of-type(2n+1) {
        clear:left;
      }
    }
  }
}

.banner {
  @include clearfix();
  text-align: center;
  background-color: $primary-color;
  background-image: linear-gradient(180deg, $warning-color 0%, $primary-color 100%);
  color:$white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  //border-top:1px solid $primary-color;
}

.banner--gray {
  background-color: $light-gray;
  background-image: none;
  color:$primary-color;
}

.banner--white {
  background-color: #fff;
  background-image: none;
  color:$primary-color;
}

.banner--light {
  background-image: none;
  color:$light-gray;
}

.banner__title {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-size: 2.5rem;
  margin:1.5rem auto 0 auto;
  font-weight: $global-weight-extrabold;
  text-shadow:0 -.075em 6px rgba($black,.125);
  transform:translateY(.225em);
  @include breakpoint(tablet) {
    font-size: 7vw;
    margin:3vw 0 0 0;
  }
}

.banner__title--small {
  font-size: 1.5rem;
  @include breakpoint(tablet) {
    font-size: 5vw;
    margin:3vw auto 0 auto;
    max-width: 58vw;
  }
}

.banner--newsletter {
  background-image: url('../img/fejlec/hirlevel.jpg');
}
.banner--testdrive {
  background-image: url('../img/fejlec/tesztvezetes.jpg');
}
.banner--accessories {
  background-image: url('../img/fejlec/kiegeszitok.jpg');
}

.promoblock {
  border-top:1px solid $primary-color;
  border-bottom:1px solid $primary-color;
  text-align: center;
  background-color: $warning-color;
  padding:4rem 0;
  color:$white;
}
.dealerpromo {
  background-image: url('../img/findadealer.jpg');
}
.pricepromo {
  background-image: url('../img/pricebg.jpg');
}
.promo__textcol {

  @include breakpoint('xlarge') {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
.promoblock__title {
  //font-size: 2rem;
  text-transform: uppercase;
  //font-weight: $global-weight-extrabold;
  margin: 0;

}
.promoblock__info {
  margin:0 0;
}
.promoblock__more {
  margin-top: 2em;
  margin-bottom: 0;
  .icon {
    margin:0 0 0 .5em;
    transform: scale(1.5);
    display: inline-block;
  }
}
.card {
  position: relative;
  background-color: #fff;
  &.card--transparent {
    background-color: transparent;
  }
  &.card--squarepost {
    margin-bottom: 1.5rem;
  }
}

.card__label {
  position: absolute;
  left:0;
  text-transform: uppercase;
  color:$light-gray;
  font-size: 1rem;
  line-height: 1;
  font-weight: $global-weight-extrabold;
  transform:translateY(-1.6em);
  //text-shadow:0 -2px 2px rgba(#000,.3);
  display: inline-block;
  padding:.333em 2.125em .25em 1rem;
  //background-color:$alert-color;
  background-image:linear-gradient(-120deg, transparent 1.333em, rgba($alert-color,.666) 1.333em);
  .card--transparent & {
    font-size: .75rem;
    padding:.333em 1.8em .125em .666em;
    transform:translateY(-1.5em);
  }
  .card--squarepost & {
    font-size: .75rem;
    padding:.333em 1.666rem .125em 1rem;
    transform:translateY(-1.5em);
  }
}


.card__fig {
  margin:0;
  border-bottom: 2px solid $alert-color;
  position: relative;
  a {
    display: block;
    &:hover, &:focus {
      &:before {
        opacity: 0;

      }
    }
    &:before {
      content: '';
      position: absolute;
      left:0; top:0;
      height: 100%;
      width: 100%;
      background-color: rgba(#000,.25);
      opacity: 1;
      transition: opacity .4s ease;
    }
  }
  img {
    display: block;
  }
}


.card__title {
  font-size: 1.125rem;
  margin:0;
  padding:1rem 1rem 1rem;
  a {
    color:$secondary-color;
    &:hover, &:focus {
      color:$alert-color;
    }
  }
  .card--squarepost & {
    padding-bottom: 0;
    min-height: 3.75rem;
  }
  .card--transparent &{
    padding:.75rem 0 0;
  }
}

.card__text {
  padding:1rem 1rem;
  font-size: .875rem;
  .card--transparent &{
    padding:.125rem 0 1rem 0;
    //display: none;
  }
  p:last-child {
    margin-bottom:0;
  }
}



.card__footer {
  font-size: .875rem;
  line-height: 1;
  padding:.75rem 1rem;
  // background-color: $medium-gray;
  color:$light-gray;
  .card--transparent & {
    padding:.125rem 0 1rem;
    color:$dark-gray;
  }
  .card--squarepost & {
    color:$dark-gray;
  }
}

.card__time {
  display: block;
  font-variant: small-caps;
  font-weight: $global-weight-extrabold;
}

.card__cikkszam {
  font-variant: small-caps;
  font-weight: $global-weight-extrabold;
}

.mfp-iframe-holder .mfp-content {
  max-width: 80%;
}


.relacc-carousel, .relpost-carousel {

  .owl-controls {
    margin:0;
    .owl-pagination {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.125rem;
      line-height: 1;
      margin:1.5rem auto 0;

      .owl-page {
        padding:.25rem .125rem;
        &:not(:last-child):after {
          display: inline-block;
          content:'/';
          margin:0 .125rem 0 .25rem;
          color: $primary-color !important;
        }

        &.active {
         color: $success-color;
        }
        &:hover, &:focus {
          color:$secondary-color;
        }
        span {
          display: none;
        }
      }
    }

    .owl-buttons {
      position: absolute;
      width:75%;
      left:12.5%;
      top: 35%;
      pointer-events:none;
      @include breakpoint(tablet) {
        width:80%;
        left:10%;
        top:33%;
      }

      @include breakpoint(large) {
        width:96%;
        left:2%;
        top:30%;
      }


      > div {
        position: absolute;
        top:-1em;
        pointer-events:auto;
        border-radius: 0;
        margin:0;
        padding:1em 1em;
        font-size: 1.5rem;
        line-height: 1;
        background-color: transparent;
        color:$success-color;
        opacity: 1;
        @include breakpoint(tablet) {
          font-size: 2rem;
        }
        @include breakpoint(large) {
          font-size: 2rem;
        }
        &:hover &:focus {

        }
      }
      > .owl-prev {
        //float:left;
        //padding-right: 1rem;
        right:100%;
      }
      > .owl-next {
        //float:right;
        //padding-left: 1rem;
        left:100%;
      }

    }

  }
}


.relacc-carousel {
  .owl-controls {
    .owl-buttons {
      top:47%!important;
      > div {
        color:$medium-gray;
      }
    }
  }
}



