.blocktitle {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: $global-weight-extrabold;
  text-transform: uppercase;
}
.deflist {
  dt {
    float:left;
    clear:left;
    width:33.333%;
    max-width: 20rem;
    padding-right: 1rem;
    margin-bottom: $paragraph-margin-bottom;
  }
  dd {
    width:66.666%;
    float:left;
    padding-left: 1rem;
    margin-bottom: $paragraph-margin-bottom;

  }
}

.doublelist {
  @include clearfix();
  >li {
    @include breakpoint(medium) {
      width:50%;
      float:left;
      &:nth-of-type(2n+1) {
        clear:left;
      }
    }
  }
}

.card {

}

.card {
  background-color: #fff;
}

.card__fig {
  margin:0;
  border-bottom: .25rem solid $alert-color;
}
.card__title {
  margin:0;
  padding:1rem 1rem 0;
  a {
    color:$secondary-color;
  }
}

.card__text {
  padding:1rem 1rem 0;
  font-size: .875rem;
}