.banner--dealers {
}
.dealersblock {
  position: relative;
  background-color: $white;
  //background-image: linear-gradient(180deg, $warning-color 0%, $primary-color 100%);
  //color:$body-font-color;

  > .row {
    position: relative;
    @include breakpoint(tablet) {
      min-height:75vh;
    }
  }
}

.dealers {
  margin:4rem 0;
  h2 {
    font-size: 1.25rem;
    margin: 0 1rem 1rem;
  }
}
.dealerslist .actions a.infoclose {
  display: none;
}
.onedealer.is-selected {
  border:1px solid rgba($success-color,.25);
  //background-color: $warning-color;
  a {
    //color:$success-color;
  }
  .dealerinfo {
    display: block;
    @include breakpoint(tablet) {
      //display: none;
    }
  }

  .actions a.infocircle {
    display:none;
  }
  .actions a.infoclose {
    display: inline-block;
  }
}
.dealerslist {
  margin:0;
  padding:0;
  list-style-type: none;
  > li {
    padding:.5rem 1rem;
    line-height: 1;
    border:1px solid transparent;
  }

  a {
    color:inherit;
    &:hover {
      color:$success-color;
      small {
        //color:$secondary-color;
      }
    }
  }

  h3 {
    display: inline-block;
    margin:0;
    //color:$success-color;
    text-transform: uppercase;
    font-weight: 900;

    font-size: 1.125rem;

    small {
      font-weight: 700;
      color:$white;
      font-size: 95%;
      display: inline-block;
      color:inherit;
      //margin-left: .125em;
    }
  }

  .actions {
    display: inline-block;
    float:right;
    a {
      display: inline-block;
      font-size: 1.5em;
      transform:translateY(-.125em);
    }
  }

  .dealerinfo {
    display: none;
    padding-top: 1rem;
  }
}


.mapblock {
  height:28rem;

  @include breakpoint(tablet) {
    //position: absolute;
    //right:0;
    //top:0;
    //bottom:0;
    //width:56%;
    //height:auto;
    width:100%;
    height:35rem;
    min-height: 75vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
  }

  @include breakpoint(xlarge) {
    //width:62.5%;

  }

  // @include breakpoint(xxxlarge) {
  //   width:47%;
  // }
}


#map {
  height:100%;
}

.infowindow {
  font-size: .875rem;
  padding-left: .5rem;
  h3 {
    margin:.5rem 0;
    font-weight: $global-weight-extrabold;
    font-size: 1rem;
    line-height: 1;
    color:$success-color;

    small {
      display: block;
      font-size: 150%;
      line-height: 1;
      color:$primary-color;
    }
  }
  color:$body-font-color;
  font-weight: $global-weight-normal;
  strong {
    font-weight: $global-weight-bold;
  }
  a {
    color:$success-color;
  }

  p:last-child {
    margin-bottom: .5rem;
  }
  .hide-for-tablet {
    display: none;
  }

  p {
    display:none;
  }
}


