.squarepost {
  //margin-bottom: $paragraph-margin-bottom;
  .card__title {
    // @include breakpoint('large') {
    //   min-height: 2.5rem;
    // }
  }

  .item &{
    //margin:0;
  }

}

.relpost-carousel, .relacc-carousel {
  .item {
    @include grid-col;
    float:none;
  }
  .card__text {
    display: none;
  }
  .card__footer {
    display: none;
  }
}



.squareacc.card {
  background-color: $dark-gray;
  .card__title {
    // @include breakpoint('large') {
    //   min-height: 2.5rem;
    // }
    a {
      color:#fff;
    }
  }
}

.promo {

}

.promo__title {
  text-transform: uppercase;
  opacity:.9
}

.promo__subtitle {
  //font-size: 1.25rem;
  //font-weight: $global-weight-bold;
  opacity:.9;
}

.promo__discl {

}

.promo__more {
  margin-bottom: 0;
}


.isotopegrid {
  margin-left: - rem-calc(10);
  margin-right: - rem-calc(10);
  @include breakpoint('medium') {
    margin-left: - rem-calc(15);
    margin-right: - rem-calc(15);
  }
  .item, .itemsizer {
    width:100%;
    @include breakpoint('medium') {
      width:50%;
    }
    @include breakpoint('xlarge') {
      width:33.333%;
    }
  }
  .item {
    padding:0 rem-calc(10) rem-calc(20) ;
    @include breakpoint('medium') {
      float:left;
      padding:0 rem-calc(15) rem-calc(30);
      &:nth-of-type(2n+2) {
        clear:both;
      }
    }
    @include breakpoint('xlarge') {
      &:nth-of-type(2n+2) {
        clear:none;
      }
      &:nth-of-type(3n+2) {
        clear:both;
      }
    }
  }
}


.stable {
  display:table;
  border-collapse: collapse;
  width:100%;


}


.stable__head {
}
.stable__row {
  display:table-row;
  width:100%;
  &:not(:last-child) {
    border-bottom: 1px solid $medium-gray;
  }
}
.stable__cell {
  display:table-cell;
  padding:1rem .5rem;
    vertical-align: middle;
}


.stable.pricetable {
  display: block;
  margin:1rem 0;
  @include breakpoint(medium){
      display: table;
    }
  .stable__row {
    @include clearfix();
    display: block;
    padding-bottom: 1rem;
    @include breakpoint(medium){
      display: table-row;
      padding-bottom:0;
    }
  }
  .stable__cell {
    width:60%;
    display: block;
    float:left;
    padding-bottom: 0;
    @include breakpoint(medium){
      display: table-cell;
      float:none;
      padding-bottom: 1rem;
      width:65%;
    }
  }
  .stable__cell:first-child {
    width:30%;
    max-width:8rem;
    padding-left: 0;
    @include breakpoint(medium){
      width:22%;
      max-width: none;
      img {
         max-width: 8rem;
      }
    }
    // img {
    //    max-width: 10rem;
    // }
  }
  .stable__cell:last-child {
    padding-right: 0;
    padding-top: .125rem;
    @include breakpoint(medium){
      width:20%;
      padding-top: 1rem;
      text-align: right;
    }
  }
  .badge {
    font-size: .75rem;
    border-radius: .25em;
    text-transform: uppercase;
    padding:.125em .5em;
    margin:0 0 .5em;
    background-color: $alert-color;
  }
  .badge--new {
    background-color:$success-color;
  }
  h4 {
    text-transform: uppercase;
    margin:0;
    line-height: 1;

    small {
      font-size: 100%;
      color:$success-color;
      &:before {
        color:$primary-color;
        content: '| '
      }
    }
    a {
      &:hover, &:focus {
        color:$success-color;
      }
    }
  }
  p {
    margin:.25em 0 0;
    font-size: .875rem;
    line-height: 1.2;
    a {
      color:$secondary-color;
      &:hover, &:focus {
        color:$success-color;
      }
    }
  }
}


.tableprice {
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: $global-weight-extrabold;
  //color:$secondary-color;

}