@font-face {
  font-family: 'SuzukiPRO';
  src: url('../fonts/SuzukiPROBold.eot');
  src: url('../fonts/SuzukiPROBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SuzukiPROBold.woff2') format('woff2'),
       url('../fonts/SuzukiPROBold.woff') format('woff'),
       url('../fonts/SuzukiPROBold.ttf') format('truetype'),
       url('../fonts/SuzukiPROBold.svg#SuzukiPROBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SuzukiPRO';
  src: url('../fonts/SuzukiPROHeadline.eot');
  src: url('../fonts/SuzukiPROHeadline.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SuzukiPROHeadline.woff2') format('woff2'),
       url('../fonts/SuzukiPROHeadline.woff') format('woff'),
       url('../fonts/SuzukiPROHeadline.ttf') format('truetype'),
       url('../fonts/SuzukiPROHeadline.svg#SuzukiPROHeadline') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SuzukiPRO';
  src: url('../fonts/SuzukiPRORegular.eot');
  src: url('../fonts/SuzukiPRORegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SuzukiPRORegular.woff2') format('woff2'),
       url('../fonts/SuzukiPRORegular.woff') format('woff'),
       url('../fonts/SuzukiPRORegular.ttf') format('truetype'),
       url('../fonts/SuzukiPRORegular.svg#SuzukiPRORegular') format('svg');
  font-weight: 400;
  font-style: normal;
}



