.gallery {
  background-color: $light-gray;
  > .row.galrow {
    overflow:hidden;
    background-color: #000;
  }

  > .row.thumbrow {
    padding:1rem .5rem;
    @include breakpoint('tablet') {
      padding:2rem 1.5rem;
    }
  }
}




.gallery__carousel {
  .owl-wrapper-outer {
    @include breakpoint('tablet') {
      overflow:visible;
    }
  }
  .owl-wrapper {
    @include breakpoint('tablet') {
      overflow:hidden;
    }
  }

  .owl-controls {
    margin:0;
    .owl-pagination {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.125rem;
      line-height: 1;
      margin:1.5rem auto 0;

      .owl-page {
        padding:.25rem .125rem;
        &:not(:last-child):after {
          display: inline-block;
          content:'/';
          margin:0 .125rem 0 .25rem;
          color: $primary-color !important;
        }

        &.active {
         color: $success-color;
        }
        &:hover, &:focus {
          color:$secondary-color;
        }
        span {
          display: none;
        }
      }
    }

    .owl-buttons {
      position: absolute;
      width:80%;
      left:10%;
      @include breakpoint(tablet) {
        width:100%;
        left:0;
      }

      //bottom:49.5%;
      bottom: 50%;
      //z-index: -1;
      pointer-events:none;
      > div {
        position: absolute;
        top:-1em;
        pointer-events:auto;
        border-radius: 0;
        margin:0;
        padding:1rem 2vw;
        font-size: 2rem;
        line-height: 1;
        background-color: transparent;
        color:$white;
        opacity: 1;
        @include breakpoint(tablet) {
          font-size: 3rem;
          top:-1.125em;
        }
        &:hover &:focus {

        }
      }
      > .owl-prev {
        //float:left;
        //padding-right: 1rem;
        right:100%;
      }
      > .owl-next {
        //float:right;
        //padding-left: 1rem;
        left:100%;
      }

    }

  }
}



.gallery__item{
  display: block;
  position: relative;
  opacity: .333;
  border-right: 1px solid #000;
  transition: opacity .4s ease;

  &.is_active {
    opacity: 1;
    &:after {
      opacity:.25;
    }
  }
  &.is_next, &.is_prev {
    cursor: move;
    &:hover {
      opacity:.75;
    }
    &:before {
      position: absolute;
      left:0;top:0;
      width:100%;
      height:100%;
      content:'';
      z-index: 1;
    }
  }

  &:after {
    transition: opacity .8s ease.2s;
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height:8%;
    display: block;
    content:'';
    background-image: linear-gradient(0deg, #000 0 , rgba(#000,0) 100% );
    pointer-events: none;

  }
}


.gallery__item img {
  max-height: 66vmax;
  @include breakpoint(tablet) {
    max-height: 57vmax;
  }
  @include breakpoint(xlarge) {
    max-height: 57vmax;
  }
  @include breakpoint(xxlarge) {
    max-height: 52vmax;
  }

  @include breakpoint(xxxlarge) {
    max-height: 768px;
  }
}
.gallery__item__text {
  transition:opacity .6s ease-in-out .2s;
  opacity:0;
  color:$light-gray;
  position: absolute;
  display:block;
  left:0;
  bottom:1.5vw;
  padding:1.5vw 2vw;
  max-width: 66.666%;
  text-shadow:0 0 1px rgba(#000,.75);
  background-image: linear-gradient(90deg, rgba(#000,.25) 0, rgba(#000,.25) 75% , rgba(#000,0) 100%);
  h3 {
    //text-transform: uppercase;
    line-height: 1;
    margin:0;
    font-size: 1rem;
    @include breakpoint('tablet') {
      font-size: 1.75vw;
    }
  }
  .is_active & {
    opacity:1;
  }
}


.thumbs__carousel {
  .item {
    padding:.5rem;
  }

  .owl-controls {
    margin:0;
    // position: absolute;
    // bottom:0;
    // width:100%;

    .owl-buttons {
      position: absolute;
      width:115%;
      left:-7.5%;

      //bottom:49.5%;
      bottom: calc( 50% - 3.125rem);
      //z-index: -1;
      pointer-events:none;
      > div {
        pointer-events:auto;
        border-radius: 0;
        margin:0;
        padding:1em .5em;
        font-size: 2rem;
        line-height: 1;
        background-color: transparent;
        color:$success-color;
        opacity: 1;
        &:hover &:focus {

        }
      }
      .owl-prev {
        float:left;
      }
      .owl-next {
        float:right;
      }

    }
  }




}

.item__thumb {
  border:2px solid transparent;
  padding:1px;
  position: relative;
  > * {
    //display: none;
    //position: absolute;
  }
  &:hover {
    border-color:$success-color;
  }

  .synced & {
    border-color:$secondary-color;
  }

  img {
    display: block;
  }
}
