.mobilehead {
  background-color: $warning-color;
  //border-bottom: 1px solid $black;
  color:$white;
  a {
    color:inherit;
  }
  .button {

    display: block;
    position: relative;
    font-size: 1.25rem;
    line-height: 1;
    margin:0;
    height:3.666rem;
    padding:.333rem 2.5rem 0 1rem;
    //width:7.3333rem;
    background-color: $warning-color;
    //color:$success-color;
    font-weight:$global-weight-bold;
    i {
      display: inline-block;
      font-size: 1.5rem;
      position: absolute;
      right:.75rem;
      top:1.125rem;
      //color:$secondary-color;
    }
    &:hover {
      color:$success-color;
    }
  }
  .openmenu {
    float:right;
  }
  .dealersmenu {
    background-color: $white;
    color:$primary-color;
    float:left;
    width:auto;
    border-right: 1px solid $medium-gray;
    //padding-left: 1rem;
    //padding-right: 1rem;
  }
}

.mobileheadlogo {
  margin:0;
  padding:0;
  float:left;
  border-left: 1px solid $medium-gray;
  a {
    display: block;
    height:3.666rem;
    width:7.333rem;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../img/logodouble_small.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
  }
}


.off-canvas-wrapper-inner {
  &.is-open-left {
    @include breakpoint(tablet) {
      transform: none;
      .js-off-canvas-exit.is-visible {
        display: none !important;
      }
    }
  }
}

.off-canvas {
  &.position-left {
    @include breakpoint(tablet) {
      left:0;
      width:100%;
      position: static;
      max-height: none;
      overflow: hidden;
      z-index: 1;
    }
  }
}

.sitehead {
  position: relative;
  background-color: $warning-color;
  height: 100vh;
  min-height: 32rem;
  .row {
    //background-color: #fff;
    @include breakpoint('tablet') {
      max-width:100%;
    }
    @include breakpoint('large') {
      max-width:85%;
    }
    @include breakpoint('xxxlarge') {
      max-width:$global-width;
    }
  }
  @include breakpoint(tablet) {
    height:5rem;
    min-height: 5rem;

    //background-image: linear-gradient(0deg, $dark-gray 50%, $alert-color 50%, $alert-color 52%, $secondary-color 52%);

    background-image: linear-gradient(0deg, $dark-gray 50%,  $secondary-color 50%);
  }
}



.headlogo {
  margin:0;
  padding:0;
  background-color: $white;
  @include breakpoint(tablet) {
    float:left;
  }
  a {
    display: block;
    height:3.666rem;
    width:7.333rem;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../img/logodouble_small.jpg');

    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
    @include breakpoint(tablet) {
      background-image: url('../img/logodouble.jpg');
      height:5rem;
      width:10rem;
    }
  }
}

.sitehead__actions {
  background-color: $primary-color;
  position: relative;
  @include breakpoint(tablet) {
    background-color: transparent;
    height: 2.5rem;
  }


  .button {
    position: relative;
    display: block;
    float:left;
    //border-right: 1px solid $primary-color;
    font-weight: $global-weight-normal;
    margin:0 0;

    overflow: hidden;
    padding:.875rem 1.75rem .75rem 1.25rem;
    font-size: .875rem;
    background-color: $primary-color;
    background-color: transparent;
    @include breakpoint(tablet) {
      float:right;
      padding:.875rem 1.75rem 0 .333rem;
      font-size: .75rem;
      height:2.5rem;

    }

    &:hover, &:focus {
      //background-color: $warning-color;
      color:$success-color;
    }

    .icon {

      position: absolute;
      display: block;
      top:.5rem;
      right:.333rem;
      font-size: 1.333rem;
      line-height: 1;
    }
  }
}

.sitehead__actions__buttons {

  @include breakpoint(tablet) {
    height: 2.5rem;
    background-color: transparent;
    background-image: linear-gradient(120deg, transparent 0, transparent 1.25rem, $primary-color 1.25rem);
    position: relative;
    display: inline-block;
    padding-left: 1.75rem;

    &:after {
      content: '';
      background-color: $primary-color;
      position: absolute;
      left:100%;
      height:2.5rem;
      width:300%;
      display: block;
    }
  }
}

.langsel{
  clear:both;
  text-transform: uppercase;
  font-weight: $global-weight-extrabold;
  //padding-top: .5rem;
  padding: 0 0 .5rem 1.333rem;
  color:$medium-gray;
  @include breakpoint(tablet) {
    position: absolute;
    top:100%;
    right:.75rem;
    padding: .5rem 0 0;
  }
  a {
    color:$medium-gray;
    &.active {
      color:$light-gray;
    }
    &:hover {
      color:$primary-color;
    }
  }



}

.sitenavs {
  @include clearfix();
  //background-color: #fff;
  @include breakpoint(tablet) {
    float:left;
  }
}
.menu--pri {
  @include clearfix();
  //background-color: $white;
  position: absolute;
  top:3.666rem;

  font-weight: $global-weight-extrabold;
  font-size: 1.75rem;
  //text-transform: uppercase;
  margin:0 0;
  padding:12vh .25rem 1rem;
  @include breakpoint(tablet) {
    position: static;
    margin:0;
    padding:0;
    font-size: 1.333rem;
    height:2.5rem;
    overflow: hidden;
  }
  > li {
    display: block;
    @include breakpoint(tablet) {
      float:left;
    }
    > a {
      padding:.5em .666em .4em;
      &:hover, &:focus {
        color:$primary-color;
      }
    }


  }


}


.menu--sec {
  //background-color: $warning-color;
  @include clearfix();
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  font-size: 1rem;
  padding:1rem 0;
  margin:0;
  position: absolute;
  bottom:0;
  border-top: 3px solid $alert-color;
  @include breakpoint(tablet) {
    padding: 0 0 0 0;
    font-size: .875rem;
    position: static;
    ///background-color: transparent;
    border-top: none;
    height:2.5rem;
    overflow:hidden;
  }
  > li {
    display: inline-block;
    @include breakpoint(tablet) {
      float:left;
      display: block;
    }
    > a {
      padding:.5em .5em .5em;
      @include breakpoint(tablet) {
        padding:1em .875em .875em;
        //margin-top: 1px;
      }
      //color:$white;
      //color:$medium-gray;
      &:hover, &:focus {
        background-color: $primary-color;
      }
    }


  }
}
