.heroes {
  background-color: #000;
}

.hero {

  box-shadow: inset 0px -.125rem .125rem -.125rem rgba(#000,.5), inset 0px .125rem .125rem -.125rem rgba(#000,.5);

  padding:12vw 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @include breakpoint(tablet) {
    padding:0;
    display: table;
    width:100%;
    height: calc(100vh - 12.5vw - 4.875rem);
    min-height: 40vw;
    max-height: 46vw;
  }

  .heroes--narrow &{
    @include breakpoint(tablet) {
      height: 66vw;
      min-height: 30vh;
      max-height: 60vh;
    }
  }
}

.hero__text {
  color:#fff;
  text-align: center;
  text-shadow: 0 0 15px rgba(#000,.5), 3px 3px 3px rgba(#000,.75), -3px -3px 3px rgba(#000,.125), 3px -3px 3px rgba(#000,.125), -3px 3px 3px rgba(#000,.125);
  padding:1rem 1rem;
  z-index: 4;
  @include breakpoint(tablet) {
    display: table-cell;
    vertical-align: middle;
    //height:20%;
  }
}

.hero__title {
  margin: 0 auto;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
  @include breakpoint(tablet) {
    max-width: 75%;
    font-size: 4vw;
  }
  a {
    &:hover, &:focus {
      &:after {
        color:$alert-color;
      }
    }
    &:after {
      display: inline-block;
      margin-left: .25em;
      content:'>>';
      color:$success-color;
    }
  }
}

.hero__discl {
  margin: 0 auto;
  font-weight: $global-weight-extrabold;
  @include breakpoint(tablet) {
    max-width: 66.666%;
    font-size: 2.25vw;
  }
}

.hero__more {
  margin-bottom: 0;
  display: none;
}


.hero__carousel {
  .owl-controls {
    margin:0;
    // position: absolute;
    // bottom:0;
    // width:100%;

    .owl-buttons {
      position: absolute;
      width:100%;

      bottom:49.5%;
      bottom: calc( 50% - 2rem);
      //z-index: -1;
      pointer-events:none;
      > div {
        pointer-events:auto;
        border-radius: 0;
        margin:0;
        padding:1em .5em;
        font-size: 1.5rem;
        line-height: 1;
        background-color: $secondary-color;
        opacity: 1;
        &:hover &:focus {
        }
      }
      .owl-prev {
        float:left;
      }
      .owl-next {
        float:right;
      }

    }
  }
}