.heroes {
  background-color: #000;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero {
  position: relative;

  box-shadow: inset 0px -.125rem .125rem -.125rem rgba(#000,.5), inset 0px .125rem .125rem -.125rem rgba(#000,.5);

  padding:40vw 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @include breakpoint(tablet) {
    padding:0;
    width:100%;
    height: calc(100vh - 5rem );
    min-height: 42vw;
    max-height: 48vw;
  }

  .heroes--narrow &{
    @include breakpoint(tablet) {
      height: 66vw;
      min-height: 30vh;
      max-height: 60vh;
    }
  }
}

.hero--video {
  padding:0;
  &:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'suzuki' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e923';
    position: absolute;
    left:50%;
    top:50%;
    font-size: 4rem;
    line-height: 1;
    display: block;
    width:1em;
    height:1em;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    pointer-events:none;
    color: $light-gray;
    text-shadow: 0 0 .5em #000;
    opacity: 0;
    transition: opacity .4s ease;
  }

  &:hover:after {
    opacity:1 !important;
  }
  @include breakpoint(tablet) {
  }

  .hero__text {
    //display: none;
  }
}

.hero--video.is-playing:after {
   content:'\e9d1';
   opacity: 0;
}

.hero video {
  width:100%;
  height:100%;
  z-index:-1;
  display: block;
  object-fit: cover;
}

.hero__text {
  color:#fff;
  text-align: center;
  text-shadow: 0 0 15px rgba(#000,.5), 3px 3px 3px rgba(#000,.75), -3px -3px 3px rgba(#000,.125), 3px -3px 3px rgba(#000,.125), -3px 3px 3px rgba(#000,.125);
  padding:1rem 1rem;
  z-index: 4;
  line-height: 1;
  background-color: rgba(#000,.5);
  @include breakpoint(tablet) {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    padding: 2vw 1rem 5vw;
    transition: bottom .8s ease-in .2s;
    .hero--video.is-playing & {
      bottom:-12rem;
    }
  }
  @include breakpoint(xlarge) {
    padding: 1.75vw 1rem 4.5vw
  }
  @include breakpoint(xxlarge) {
    padding: 2vw 1rem 4.5vw
  }

}

.hero__title {
  margin: 0 auto;
  text-transform: uppercase;


  line-height: 1;
  padding: 0 12.5% 0;
  @include breakpoint(tablet) {

    font-size: 4vw;
  }
  a {
    &:hover, &:focus {
      &:after {
        color:$success-color;
      }
    }
    &:after {
      display: inline-block;
      margin-left: .25em;
      content:'\e91f';
      //color:$success-color;
      transform:translateY(.1em);
      font-family: 'suzuki' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.hero__discl {
  margin: 0 auto;
  font-weight: $global-weight-extrabold;
  line-height: 1;
  padding: .25em 0 0;
  @include breakpoint(tablet) {
    font-size: 2.25vw;
  }
}



.hero__carousel {
  .owl-item {
    //width:100vw !important;
  }
  .owl-controls {
    margin:0;
    // position: absolute;
    // bottom:0;
    // width:100%;

    .owl-buttons {
      position: absolute;
      width:100%;

      //bottom:49.5%;
      //bottom: calc( 50% - 2rem);
      bottom: 0;
      //z-index: -1;
      pointer-events:none;
      > div {
        pointer-events:auto;
        border-radius: 0;
        margin:0;
        padding:1em .5em 1.125em;
        font-size: 4vw;
        line-height: 1;
        background-color: transparent;
        color:$success-color;
        opacity: 1;
        &:hover &:focus {
        }
      }
      .owl-prev {
        float:left;
      }
      .owl-next {
        float:right;
      }

    }
  }
}

.home__heroes {
  .button--trapez {
    position: absolute;
    bottom:-1px;
    left:50%;
    transform:translatex(-50%);
  }
}
