.modelgroupselector {
  //background-color: #fff;
  padding-bottom: 4rem;
  padding-top: 0;

  .columns:not(:last-child) {
    //border-right: 1px solid #000;
  }

 .columns:last-child:not(:first-child) {
    float: left;
  }
}
.bigselect {
  margin-top:2rem;
  display: block;
  position: relative;
  text-align: center;
  //border-top:1px solid #000;
  overflow: hidden;
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(#000,.5);
    left:0;
    bottom:0;
    width:100%;
    padding-bottom: 100%;

    transition: opacity .4s ease;
  }
  &:hover:after , &:focus:after {
    opacity: 0;

  }
  &:hover, &:focus {
    h3 {
      color:$alert-color;
    }
  }
  h3 {
    transition: color .4s ease;
  }
  img {
    display: block;
  }
}



.promo__carousel {
  .owl-controls {
    margin:0;
    // position: absolute;
    // bottom:0;
    // width:100%;

    .owl-buttons {
      position: absolute;
      width:100%;

      bottom:49.5%;
      bottom: calc( 50% - 2rem);
      //z-index: -1;
      pointer-events:none;
      > div {
        pointer-events:auto;
        border-radius: 0;
        margin:0;
        padding:1em .5em;
        font-size: 2rem;
        line-height: 1;
        background-color: transparent;
        color:$success-color;
        opacity: 1;
        &:hover &:focus {
        }
      }
      .owl-prev {
        float:left;
      }
      .owl-next {
        float:right;
      }

    }
  }
}

.home__bottomlogos {
  text-align: center;
  img {
    //display: block;
    //margin:0 20%;
    max-width: 80%;
    margin:.5rem auto;
  }
}
