.modelgroupselector {
  //background-color: #fff;
  padding-bottom: 2rem;
  padding-top: 0;

  .columns:not(:last-child) {
    //border-right: 1px solid #000;
  }

 .columns:last-child:not(:first-child) {
    float: left;
  }
}
.bigselect {
  margin-top:2rem;
  margin-bottom: 1rem;
  display: block;
  position: relative;
  text-align: center;
  //border-top:1px solid #000;
  overflow: hidden;
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(#000,.5);
    left:0;
    bottom:0;
    width:100%;
    padding-bottom: 100%;

    transition: opacity .4s ease;
  }
  &:hover:after , &:focus:after {
    opacity: 0;

  }
  &:hover, &:focus {
    h3 {
      //color:$alert-color;
      &:after {
        opacity: 1;
      }
    }
  }
  h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    position: relative;
    transition: color .4s ease;
    padding-bottom: .75em;
    &:after {
      position: absolute;
      left:calc(50% - .6em);
      bottom:.25em;
      content: '';
      width:1.2em;
      height: .25em;
      display: block;
      background-color: $success-color;
      opacity: 0;

    }
  }
  img {
    display: block;
  }
}


.homepromofej {
  padding:4rem 1rem 0;
  margin-bottom: 1rem;
  @include breakpoint(tablet) {
      margin-bottom: -2rem;

  }
  .blocktitle {
    margin-bottom: 0;
  }
}

.homepromolab {
  text-align: center;
  padding:0 1rem 4rem;
  @include breakpoint(tablet) {
      margin-top: -2rem;
  }
}

.promo__carousel {
  .owl-controls {
    margin:0;
    // position: absolute;
    // bottom:0;
    // width:100%;

    .owl-buttons {
      position: absolute;
      width:100%;

      bottom:49.5%;
      bottom: calc( 50% - 2rem);
      //z-index: -1;
      pointer-events:none;
      > div {
        pointer-events:auto;
        border-radius: 0;
        margin:0;
        padding:1em .5em;
        font-size: 2rem;
        line-height: 1;
        background-color: transparent;
        color:$success-color;
        opacity: 1;
        &:hover &:focus {
        }
      }
      .owl-prev {
        float:left;
      }
      .owl-next {
        float:right;
      }

    }
  }
}

.home__bottomlogos {
  text-align: center;
  padding:3rem 0;
  img {
    //display: block;
    //margin:0 20%;
    max-width: 70%;
    margin:.5rem auto;
  }
}

.homenews {
  text-align: center;
}

.home_fb {
  text-align: center;
}

.homenews__grid {
  .column:nth-of-type(n+5) {
    display: none;
  }
  @include breakpoint(xxlarge) {
    .column:nth-of-type(n+5) {
      display: block;
    }
  }
}
.homenews__title {
  //float:left;
}

.homenews__more {
  margin:1rem auto;
  // display: inline-block;
  // font-size: .875rem;
  // line-height: 1;
  // margin-top: .875rem;
  // color:$secondary-color;
  //font-weight: $global-weight-bold;
  //padding-top: .25em;
  .icon {
    display: inline-block;
    transform:translateY(.2em);
    font-size:1.5em;
    display:none;
  }
}

.fb-page {
  overflow: hidden;
  @include breakpoint(tablet) {
    height:32.666rem;
  }
  @include breakpoint(large) {
    height:31rem;
  }
  @include breakpoint(xlarge) {
    height:35.5rem;
  }
  @include breakpoint(xxlarge) {
    height:28.5rem;
  }
  @include breakpoint(xxxlarge) {
    height:30.5rem;
  }

  span {
    height:100% !important;
    display: block;
    iframe {
      height:100% !important;
    }
  }
}

// .fb_iframe_widget {
//   width:100%;
//   > span {
//     width:100% !important;
//     > iframe {
//       width:100% !important;
//     }
//   }
// }