.row {
  @include breakpoint('tablet') {
    max-width:95%;
  }
  @include breakpoint('large') {
    max-width:85%;
  }
  @include breakpoint('xxxlarge') {
    max-width:$global-width;
  }
  .row {
    @include breakpoint('tablet') {
      max-width:$global-width;
    }
  }
}

.ps {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include breakpoint('medium') {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.ps--narrow {
  @include breakpoint('medium') {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.ps--large {
  @include breakpoint('medium') {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.ps--gray {
  background-color: $light-gray;
}

.ps--darken {
  background-color: $medium-gray;
}
.ps--inverse {
  background-color: $primary-color;
  background-image: linear-gradient(0deg, $warning-color 0%, $primary-color 100%);
  color:$white;
  a.ps__more {
    color:$success-color;
  }
  label {
    //color:$dark-gray;
  }
}

.offerlist {
  > .row {
    margin-top: 2rem;
    margin-bottom:5rem;
  }
}