.anchornav {
  // position: fixed;
  // top:0;
  // left:0;
  // width:100%;
  // z-index: 1;
  width:100%;
  height:2.5rem;
  overflow: hidden;
  //max-width: 100% !important;
  //
  background-color: $dark-gray;
  background-image: linear-gradient(90deg, transparent 0, transparent 50%, $secondary-color 50%);
  box-shadow: 0 2px 3px 1px rgba(#000,.125);



  //border-top: 1px solid $alert-color;
  > .row {
    background-color: #fff;
    > .columns {
      @include clearfix();
    }
  }
}



.anchornav__title {
  display: block;
  font-size: 1.333rem;
  line-height: 1;
  padding:.5666rem .666rem .875rem 1rem;
  height:2.5rem;
  overflow: hidden;
  margin:0;
  float:left;
  //border-right:1px solid $medium-gray;
  background-color: $dark-gray;
  //background-image: linear-gradient(-75deg, $light-gray 0, $light-gray .666rem, $dark-gray .666rem);
  color:$white;
  small {
    display: inline-block;
    margin-left: .5rem;
    font-size: 100%;
    color:$secondary-color;
    &:before {
      content:'|';
      display: inline-block;
      margin-right: .5rem;
      color:$white;

    }
  }
}

.anchornav__actions {
  // position: absolute;
  // right:0;
  display: block;
  padding:0 0 0 1.75rem;
  float:right;
  height:2.5rem;
  overflow:hidden;
  //background-color: $light-gray;
  background-image: linear-gradient(120deg, transparent 0, transparent 1.33rem, $secondary-color 1.33rem);
  a {
    display: block;
    position: relative;
    height:2.5rem;
    float:left;
    font-size: 0;
    color:transparent;
    line-height: 1;
    text-transform: uppercase;
    padding: .875rem 1.75rem .75em .75em;
    min-width: 2.25rem;
    @include breakpoint(large) {
      font-size: .75rem;
      color:$white;
    }

    &:hover, &:focus {
      background-color:$success-color;
    }
    i {
      color:$white;
      position: absolute;
      right:.25rem;
      top:.4rem;
      font-size: 1.5rem;
    }
  }
}
.menu--anchor {
  font-size: .875rem;
  color: $dark-gray;
  text-transform: uppercase;
  display: block;
  float:left;
  height:2.5rem;
  overflow:hidden;
  margin-left: .5rem;
  //font-weight: $global-weight-normal;
  > li {
    display: block;
    float:left;
    line-height: 1;
    // &:not(:last-child)::after {
    //   content:'/';
    //   //display: inline-block;
    //   margin:0 .125em 0 .2em;
    // }
    > a {
      display: inline-block;
      height:2.5rem;
      color: $dark-gray;
      padding: .875rem .333em .333em;
      &:hover {
        color:$success-color;
      }
      &.active {
        color:$secondary-color;
      }
    }
  }
}

