.off-canvas-wrapper {
  background-color: $warning-color;

  overflow:hidden;
}
.is-open-right {
  @include breakpoint(medium) {
    transform: translateX(-420px);
  }
  @include breakpoint(tablet) {
    transform: translateX(-480px);
  }
  @include breakpoint(xxlarge) {
    transform: translateX(-33.333%);
  }
}
.off-canvas-content {
  //position: relative;
}
.off-canvas.position-right {
  @include breakpoint(medium) {
    right:-420px;
    width:420px;
  }
  @include breakpoint(tablet) {
    right:-480px;
    width:480px;
  }
  @include breakpoint(xxlarge) {
    right:-33.333%;
    width:33.333%;
  }
}


.testdriveblock {
  margin:0 auto;
  padding:6vh calc(50% - 12.5em) 2vh;
  min-height: 100vh;
  background-image: url('../img/testdrive_portrait.jpg');
}

.tdclose {
  position: absolute;
  font-size: 2rem;
  right:1rem;
  top:1rem;
}