.prodhead {
  padding:2rem 0 0;
  @include breakpoint('tablet') {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:7vh 0 0;
    z-index: 1;
  }
}
.prodhead__yearselect {
  margin:0;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: $global-weight-extrabold;
  > li {
    display:inline-block;

    &:not(:last-child):after {
      content:' /';
    }
    a {
      color:$secondary-color;
      &.active {
       color:$primary-color;
      }
      &:hover {
        color:$success-color;
      }
    }
  }
}


.prodhead__colorselect {
  margin:0;
  list-style-type: none;
  font-weight: $global-weight-extrabold;
  > li {
    display:inline-block;
    margin-left: .25rem;
    &.is-active a {
      border:.125rem solid $medium-gray;
      &:hover {
        border:.125rem solid $medium-gray;
        cursor: default;
      }
    }
    a {
      display: block;
      //border-radius:50%;
      background-image:linear-gradient(135deg, $success-color 33%, #000 66%);
      width:3rem;
      height:2.25rem;
      border:.125rem solid $light-gray;
      &:hover {
        border:.125rem solid $light-gray;
      }
    }
  }
}


.prodhead__modellname {
  //font-weight: $global-weight-extrabold;
  text-transform: uppercase;
  margin: 0 0;
  line-height: 1;
  @include breakpoint('tablet') {
    font-size: 6vw;
  }
}

.prodhead__badge {
  border-radius: 0;
  background-color: $alert-color;
  font-size: 1rem;
  font-weight: $global-weight-extrabold;
  text-transform: uppercase;
  padding:.5em .5em;
  line-height: 1;
  //display: none;
}

.prodhero {
  overflow: hidden;
  margin:1rem 0;
  border-bottom: 1px solid $light-gray;
  @include breakpoint('tablet') {
    margin: 5vh 0 0;

  }
  .columns {

  }


  .tabs-content {
    background: transparent;
    transition: all 0.5s ease;
    border: none;
  }

  .tabs-panel {
    padding:0;
  }
}

.prodhero__carousel {
  .owl-controls {
    margin: 0;
    .owl-pagination {
      position: absolute;
      left:0;
      bottom:0rem;
      width:100%;
      @include breakpoint('tablet') {
        bottom:1vw;
      }

    }
  }
}


.prodhero__img {
  //border:1px solid $light-gray;
  //cursor: move;

  @include breakpoint('xlarge') {
    display: block;
    margin:0 auto;
    transform: translateX(-50%);
    margin-left:50%;
    max-width: none;
    height:75vh;
    min-height: 40rem;
  }

}
.prodhead__modellogo {
  max-width: 25rem;
  margin-bottom: 1rem;
}
.prodhead__slogan {
  text-transform: uppercase;
  //display: none;
}

.prodhead__jogsi {
  font-weight: $global-weight-extrabold;
}
.sticky-container {
    background-color: $light-gray;
  background-image: linear-gradient(90deg, $dark-gray 0, $dark-gray 50%, $secondary-color 50%);

}

.anchornav {
  // position: fixed;
  // top:0;
  // left:0;
  // width:100%;
  // z-index: 1;
  width:100%;
  //
  background-color: $light-gray;
  background-image: linear-gradient(90deg, $light-gray 0, $light-gray 50%, $secondary-color 50%);

  //border-top: 1px solid $alert-color;
  > .row {
    background-color: $light-gray;
    > .columns {
      @include clearfix();
    }
  }
}
.anchornav__title {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1;
  padding:.875rem 1rem .5rem 1rem;
  margin:0;
  //background-color: $dark-gray;
  //background-image: linear-gradient(-75deg, $light-gray 0, $light-gray .666rem, $dark-gray .666rem);
  color:$dark-gray;
  small {
    display: inline-block;
    margin-left: .5rem;
    font-size: 100%;
    &:before {
      content:'|';
      display: inline-block;
      margin-right: .5rem;
      //color:$white;

    }
  }
}

.anchornav__actions {
  display: block;
  line-height: 1;
  padding:0 0 0 2.5rem;
  float:right;
  background-color: $light-gray;
  background-image: linear-gradient(120deg, $light-gray 0, $light-gray 1.25rem, $secondary-color 1.25rem);
  a {
    display: inline-block;
    color:$white;
    font-size: .875rem;
    line-height: 1;
    text-transform: uppercase;
    //font-weight: $global-weight-extrabold;
    padding: .875em .25em .875em;
  }
}
.menu--anchor {
  font-size: .875rem;
  color: $medium-gray;
  text-transform: uppercase;
  display: inline-block;
  //font-weight: $global-weight-normal;
  > li {
    display: inline-block;
    line-height: 1;
    &:not(:last-child)::after {
      content:'/';
      display: inline-block;
      margin:0 0 0 .25em;
    }
    > a {
      display: inline-block;
      color: $dark-gray;
      padding: .125em .25em .25em;
      &:hover {
        color:$success-color;
      }
      &.active {
        color:$secondary-color;
      }
    }
  }
}


.prodlead {

}
.prodfeats {
 // margin:0 -1%;
}

.prodfeat {


  // @include breakpoint(medium) {
  //   width: 48%;
  //   margin:1rem 1%;
  //   float:left;
  //   &:nth-of-type(2n+1) {
  //     clear:left;
  //   }
  // }

  // @include breakpoint(large) {
  //   width: 31.333%;
  //   &:nth-of-type(2n+1) {
  //     clear:none;
  //   }
  //   &:nth-of-type(3n+1) {
  //     clear:left;
  //   }
  // }
}




.prodfeat__descr {

}


.prodfeats {
  @include clearfix();
}

// .prodfeatmore {
//   margin-top: 4rem;
//   padding:4rem 0;
//   border-top:1px solid $medium-gray;
// }

.prodspecblock {
}

.featprodspec {
  margin-bottom: 2rem;
}
.featprodspec__item {
  color: $dark-gray;
  white-space:nowrap;

}
.featprodspec__item__name {
  line-height: 1;
  font-size: .875rem;
  margin-bottom: 0;
  font-weight: $global-weight-normal;
  text-transform: uppercase;
  @include breakpoint(medium) {
    font-size: 1rem;
  }
}
.featprodspec__item__value {
  font-size: 2rem;
  line-height: 1;
  font-weight: $global-weight-bold;
  small {
    display:inline-block;
    margin-left:2%;
    font-size:33.333%;
    font-weight: $global-weight-normal;
  }
  @include breakpoint(medium) {
    font-size: 3vw;
    small {
      //font-size:50%;
    }
  }
}

.prodspec__fig {
  margin:0;

  //border:1px solid $light-gray;
  @include breakpoint('large') {
    text-align: right;
    position: relative;
    top:0;
    left:-25%;
    width:125%;
    //height:100vh;



  }
}


.prodaccblock {

}

.prodrelblock {
  padding:4rem 0;
}