.prodhead {
  padding:2rem 0 0;
  @include breakpoint('tablet') {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:7vh 0 0;
    z-index: 1;
    text-shadow: 0 1px 1px rgba(#fff,.25), 0 -1px 1px rgba(#fff,.25), 1px 0 1px rgba(#fff,.25), -1px 0 1px rgba(#fff,.25);
  }
}
.prodhead__yearselect {
  margin:0 0 .5em;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: $global-weight-extrabold;
  > li {
    display:inline-block;

    &:not(:last-child):after {
      content:'/';
      display: inline-block;
      margin:0 0 0 .25em;
    }
    a {
      color:$secondary-color;
      &.active {
       color:$primary-color;
      }
      &:hover {
        color:$success-color;
      }
    }
  }
}


.prodhead__colorselect {
  margin:.333rem 0 0;
  list-style-type: none;
  font-weight: $global-weight-extrabold;
  > li {
    display:inline-block;
    margin-left: .25rem;
    &.is-active a {
      border:.125rem solid $medium-gray;
      &:hover {
        border:.125rem solid $medium-gray;
        cursor: default;
      }
    }
    a {
      display: block;
      position:relative;
      background-image:linear-gradient(90deg, $secondary-color 53%, $primary-color 58%);
      width:2.5rem;
      height:2.5rem;
      border:.125rem solid $light-gray;
      border-radius:50%;
      transform:rotate(45deg);

      &:hover {
        border:.125rem solid $dark-gray;
        &:after {

        }
      }
      &:after {
        content:'';
        display: block;
        position: absolute;
        top:0;left:0;
        width:100%;
        height: 100%;
        background-image:linear-gradient(90deg, transparent 29%, rgba(#fff,.6) 45%, transparent 45%);
      }
    }
  }
  > li:last-child a {
      background-image:linear-gradient(90deg, $alert-color 50%, #000 50%);
  }
}


.prodhead__modellname {
  //font-weight: $global-weight-extrabold;
  text-transform: uppercase;
  margin: .25em 0 0;
  line-height: 1;
  font-size: 9vw;
  @include breakpoint('tablet') {
    font-size: 5vw;
    margin:0;
  }
  @include breakpoint('xxxlarge') {
    font-size:4rem;
  }
}

.prodhead__badge {
  border-radius: 0;
  background-color: $alert-color;
  font-size: 1rem;
  font-weight: $global-weight-extrabold;
  text-transform: uppercase;
  padding:.5em .5em;
  line-height: 1;
  //display: none;
}

.prodhero {
  overflow: hidden;
  margin:1rem 0;
  border-bottom: 1px solid $light-gray;
  @include breakpoint('tablet') {
    margin: 5vh 0 0;

  }

  @include breakpoint('xxxlarge') {
    margin: 6rem 0 0;
  }
  .columns {

  }


  .tabs-content {
    background: transparent;
    transition: all 0.5s ease;
    border: none;
  }

  .tabs-panel {
    padding:0;
  }
}

.prodhero__carousel {
  .owl-controls {
    margin: 0;
    .owl-pagination {
      position: absolute;
      left:0;
      bottom:0rem;
      width:100%;
      @include breakpoint('tablet') {
        bottom:1vw;
      }

    }
  }
}


.prodhero__img {
  //border:1px solid $light-gray;
  //cursor: move;

  @include breakpoint('xlarge') {
    display: block;
    margin:0 auto;
    transform: translateX(-50%);
    margin-left:50%;
    max-width: none;
    height:75vh;
    min-height: 40rem;
  }

}
.prodhead__modellogo {
  max-width: 75%;
  margin-bottom: 1rem;
}
.prodhead__slogan {
  text-transform: uppercase;
  //display: none;
}

.prodhead__jogsi {
  font-weight: $global-weight-extrabold;
}

.jogsi {
  display: inline-block;
  background-color: $light-gray;
  border:1px solid $medium-gray;
  color:$dark-gray;
  text-align: center;
  font-size: .875rem;
  font-weight: $global-weight-extrabold;
  padding:.5em .5em .333em;
  margin:1em .125em .125em;
  text-transform: uppercase;
  line-height: 1;
  border-radius:2px;

}
.sticky-container {
  //background-color: $dark-gray;
  //background-image: linear-gradient(90deg, transparent 0, transparent 50%, $secondary-color 50%);
  // height:2.5rem;
  // overflow: hidden;

}


.anchornav.anchornav--singleprod {
   opacity: 0;
   &.is-stuck {
     opacity:1;
   }
}


.prodlead {

}
.prodfeats {
 // margin:0 -1%;
}

.prodfeat {


  // @include breakpoint(medium) {
  //   width: 48%;
  //   margin:1rem 1%;
  //   float:left;
  //   &:nth-of-type(2n+1) {
  //     clear:left;
  //   }
  // }

  // @include breakpoint(large) {
  //   width: 31.333%;
  //   &:nth-of-type(2n+1) {
  //     clear:none;
  //   }
  //   &:nth-of-type(3n+1) {
  //     clear:left;
  //   }
  // }
}




.prodfeat__descr {

}


.prodfeats {
  @include clearfix();
}

// .prodfeatmore {
//   margin-top: 4rem;
//   padding:4rem 0;
//   border-top:1px solid $medium-gray;
// }

.prodfeatmore {
  @include breakpoint(xxlarge) {
    font-size: 87.5%;
  }
}

.prodspecblock {
}

.featprodspec {
  margin-bottom: 2rem;
  padding:2.5rem 0 .5rem;
  border-bottom: 1px solid $medium-gray;
  border-top: 1px solid $medium-gray;
}
.featprodspec__item {
  color: $dark-gray;
  white-space:nowrap;
  margin-bottom: .5rem;
}
.featprodspec__item__name {
  line-height: 1;
  font-size: .75rem;
  margin-bottom: 0;
  font-weight: $global-weight-normal;
  text-transform: uppercase;
  @include breakpoint(medium) {
    font-size: .75rem;
  }
}
.featprodspec__item__value {
  font-size: 2rem;
  line-height: 1;
  font-weight: $global-weight-bold;
  small {
    display:inline-block;
    margin-left:2%;
    font-size:33.333%;
    font-weight: $global-weight-normal;
  }
  @include breakpoint(medium) {
    font-size: 3vw;
    small {
      //font-size:50%;
    }
  }
}
.prodspec {
  margin-top: 2rem;

}
.prodspec__fig {
  margin:0;

  //border:1px solid $light-gray;
  @include breakpoint('large') {
    text-align: right;
    position: relative;
    top:0;
    left:-20%;
    width:120%;
    //height:100vh;



  }
}

.prodspec__modellogo {
  margin: 0 25%;
  width: 50%;
}


.prodaccblock {

}
.relacc-carousel {
  margin-top: 2rem;
}

.relacc__more {
  margin: 2rem 1rem 0;
  font-size: .875rem;
  text-align: right;
  display: inline-block;
  float:right;
  color: $success-color;
  .icon {
    font-size: 1.75em;
    display: inline-block;
    transform: translateY(20%);
  }
  &:hover, &:focus {
    color: $alert-color;
  }
}

.prodrelblock {
  padding:4rem 0;
}

