.banner--prices {
  background-image:url('../img/fejlec/arlista.jpg');
}
.priceblock {
  padding:2rem 0;

  .tabs {
    //margin-bottom: 1rem;
    text-align:center;

  }
}

.prices__cattitle {
  text-align: center;
  text-transform:uppercase;
  margin:0;
}

.prices__subcattitle {
  text-align: center;
  margin:0 0 0;
  padding-top:3rem;
  color: $dark-gray;
  font-size:1.75rem;
  //display:none;

}