.priceblock {
  padding:2rem 0;

  .tabs {

    margin-bottom: 1rem;
 

    @include breakpoint('tablet') {
      display: inline-block; 
      margin-left:50%;
      transform:translateX(-50%); 
    }
  }
}

.prices__cattitle {
  text-align: center;
}
.prices__subcattitle {
  text-align: center !important;
  display: block;
}