.singlepost__header {
  //text-align: center;
  .lead {

  }
}

.singlepost__lead {
  font-weight: $global-weight-bold;
  font-size:1.125rem;
  p:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint('tablet') {
    font-size: $lead-font-size;
  }
}
.singlepost__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: .5em;
  line-height: 1.125;
}

.singlepost__header__time {
  display: block;
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
  font-variant: small-caps;
  font-weight: $global-weight-extrabold;
  margin:0 0 .5rem;
  //color:$dark-gray;
  @include breakpoint('medium') {
    font-size: 1.5rem;
  }
}

.singlepost__copybody {
  padding-bottom: 4rem;
}

.singlepost {
  .gallery {
    background-color: $light-gray;
  }
}